.listener{
	background:  #BDBFC1;

}
.fans{
	background:  #A6D050;
	color:#fff !important;
}
.lover{
	background:  #FDCC3A; 
	color:#333 !important;
}

.legend{
	background-color:  #333;
	color:#ddd !important;
}

#fieldset-wrapper{

	border-radius: 10px;
	padding:2em;
	margin:0;

}

#regform{
	display: table;
	width: 800px;
	margin:20px auto;
	color: #627DA3;
 	font-size: 17px;
	font-family:Calibri;
}


#regform > fieldset{
	margin:2em auto;
	border:none;
	padding:0;

}

fieldset.left,fieldset.right{
	width:49%;
	display:inline-table;
	vertical-align:top;
	margin:auto 0;
} 
fieldset.left select,
fieldset.left input,
fieldset.right input,
fieldset.right select{
}

#regform p{
	margin:0.5em 0;
	font-weight:bold;
}


#regform label{
	display: inline-table;
	width: 30%;
	text-align:right;
	vertical-align: top;
	padding-right:20px;
}

#regform input:not([type=radio]), #regform select, #regform textarea, p#agreement-clause{
	display: inline-table;
	border-radius: 5px;
	height:34px;
	box-shadow:1px 1px 5px 5px #ddd inset;
	border: 1px solid #627DA1;
	font-family: Ubahn;  
	padding:5px;
	font-size:1.1em;

}


#regform input.input1{
	width:400px;
}
#regform input.input2{
	width:200px;
}

#regform input.input3{
	width:200px;
}
#form-wrapper{

    	margin: 10px auto;
		padding: 10px;
    	width: 800px;
}

#regform textarea{
	height: 70px;
}


#ui-datepicker-div{
	width: 200px;
}

.ui-datepicker-calendar{
	width: 200px;
}


fieldset legend{
	font-size: 21px;
	border-bottom: 1px solid #627DA1;
	margin: 10px 0;
	width: 270px;
}

.required{
	color: #FF0000;
}
.err{
	background-color:#ffdddd;
}
.valid{
	color:green;
	font-size:1em;
}

.invalid{
	color:red;
	font-size:1em;
}


p#agreement-clause{
	font-size:1.2em;
	line-height:1.5em;
	background:#fff;
	padding:1.2em;
	margin: 10px 40px;
	color:#111;
}
.sub-reg{
	border-radius: 5px;
	width: 150px;
}

.pengajuan{
	color: #627DA1;
    	font-size: 18px;
    	text-align: left;
    	width: 90%;
	margin-bottom: 20px;
}


/* navigation tab */


ol#navigation{

    counter-reset:li;
    margin:0;
    list-style: none;
    *list-style: decimal;
	padding: 0;
}
ol#navigation li{
   display:inline-block;
	margin:0px 10px 0 20px;
    list-style:none;
	font-weight:bold;
}
ol#navigation li a:before{

	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #ddd;
	height: 3em;
	width: 3em;
	line-height: 3em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
				-moz-border-radius: 2em;
				-webkit-border-radius: 2em;
				border-radius: 2em;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				-ms-transition: all .3s ease-out;
				-o-transition: all .3s ease-out;
				transition: all .3s ease-out;






}
ol#navigation li a{
    	cursor:pointer;
	position: relative;
	display: block;
	padding: .4em .4em .4em 3em;
	*padding: .4em;
	margin: .5em 0 .3em 0;
	background: #ddd;
	color: #444;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	o-transition: all .3s ease-out;
	transition: all .3s ease-out;	



}
ol#navigation li a:hover,
ol#navigation li  a.selected{
    background:#d8d8d8;
    color:#666;
    padding-left:4.2em;
}




/* selected */
ol#navigation li a.selected:before{
	height:4em;
	width:4em;
	line-height:4em;
	background:#627DA1;   #fff;
	-moz-border-radius: 4em;
	-webkit-border-radius: 4em;
	border-radius: 4em;
	color:#fff;
	
}
ol#navigation li a.notFilled:before,
ol#navigation li a.notFilled{
	background:#de737f;
	color:#fff;
}

ol#navigation li a.filled, ol#navigation li a.filled:before{
	background:#627DA1; #197c5b;
	color:#fff;
}
