ul#rundown-list{
	margin:0;
	padding:0;
	list-style-type:none;
}

ul#rundown-list li{
	display:block;
	color: black;
	background: white;
	border: 1px solid #e0e0e0;
	border-radius:5px;
  	padding:10px;
    margin:8px 10px;
  	
}

ul#rundown-list li span.log_group{
	display:block;
	width:50px;
  	margin: 1px;
	/*padding: 10px auto; */
	height:50px;
	float: left;
	text-align: center;
	vertical-align:middle;
	color: white;
	font-size: 200%;
	border-radius:5px;
}

.excerpts ul#rundown-list   span.log_group{
	display:none;

}


ul#rundown-list li div{
	display: block;
  	margin: 1px;
  	margin-left: 60px;
  	min-height: 55px;
}
.excerpts ul#rundown-list   li{
	padding:3px 5px;
}
.excerpts ul#rundown-list   li div{
	margin:1px;
	min-height:10px;
}

.excerpts ul#rundown-list   li div span.remark{

	font-size:88%;
}

ul#rundown-list li span[log="SONG"], span.color-song{
	background:#b5723d;
}
ul#rundown-list li[log="SONG"]:hover{
	cursor:pointer;
	font-weight:bolder;
}

ul#rundown-list li span[log="ADVS_AUDIO"], span.color-adsS{
	background:#9c3a17;
}

ul#rundown-list li span[log="ADVS_TEXT"], span.color-adsT{
	background:#a4a957;
}

ul#rundown-list li span[log="SOUND"], span.color-sound{
	background:#e6ad2c;
}


ul#rundown-list li span[log="NEWS"],ul#rundown-list li span[log="NEWS_AUDIO"],ul#rundown-list li span[log="NEWS_TEXT"], span.color-news{
	background:#7ea69d;
}

ul#rundown-list li span.remark{
	display:block;
	text-transform:capitalize !important;
	text-shadow:none;
	color: black;
	margin-top:5px;
	font-size:110%;
	word-wrap: break-word;
}

ul#rundown-list li span.waktu:before{
	content: "\00bb ";
}

ul#rundown-list li span.additional-info{
	display:block;
	text-shadow:none;
	color: black;
	font-size: 80%;
	margin-bottom:5px;
}
ul#rundown-list li span.log_group_name, ul#rundown-list span.melon_search_link{
	color: #fff;
	padding:2px 5px;
	font-size:70%;
	border-radius: 5px;
	
}
#main-page{
	margin: 0;
	padding: 0;
}

ul#rundown-list span.melon_search_link{	 
	background:#333;	
	text-transform:uppercase;
}
p.additional-link{
	float:right !important;
	
}
