#program-content{
	display: none;
}

#runreq-content{
	display: block;
}

div.program{
	display: block; 
	padding:2px;
}

div.program div.foto-penyiar{
	display: inline-block;
	width: 150px;
	height: 150px;
	background:black;
	margin: 5px;
	float:left;
}

div.program div.foto-penyiar img{
	width: 100%;
	height: 100%;
}

div.program div.info-program{
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    -webkit-marquee: auto medium infinite scroll normal;   
    overflow-x: -webkit-marquee;  
    text-shadow: none;
	width: 80%;
	height: 100%;
}

div.program:after{
	content: " ";
	clear:both;
	display:block;
	width: 100%;
	height: 100%;
}

div.program div.info-program span{
	display: block;
	color: white;
	word-wrap: break-word;
	width: 100%;
	height: 100%;
}

div.program div.info-program span.on-air{
	background: red;
	border-radius:5px;
	width: 100%;
	height: 100%;
}

