ul#request-list-big{
	margin:0;
	padding:0;
	list-style-type:none;
}

ul.comment{
	margin-left: 55px;
	font-family: ubahn;
    	font-size: 100%;
	margin-top: 0;
}

ul#request-list-big li.request{
	display: block;
    text-overflow: ellipsis;
    color: black;
    padding:15px 10px;
    margin:8px auto;
    background: white;
    border-radius: 5px;
	border: 1px solid #e0e0e0;
  	min-height: 60px;
  	
}


.excerpts ul#request-list-big li.request{
	margin:0;
	min-height:0;
	max-height:80px;
	margin:4px auto;
	padding:3px 3px 5px 3px;
	font-size:86%;
	overflow:hidden;
}

ul#request-list-big li.request:after{
	clear: both;
}

ul#request-list-big li.request div{
	display: block;
}

ul#request-list-big li.request div span.foto-req{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	background: blue;
	position: relative;
	float: left;
	margin: 5px ;
}

.req-image{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 200%;
	text-align: center;
	float: left;
	color: white;
}
.excerpts .req-image, .excerpts ul#request-list-big li.request div span.foto-req{
	width:40px;
	height:40px;

}
.req-image img{
	width: 100%;
	color: white;
}

.req-icon{
	display: block;
	height: 20px;
	right: 0;
	position: absolute;
	bottom: 0;
	width: 20px;
	float: left;
}

.req-icon img{
	width: 100%;

	}

.info-req{
	display: block;
	margin-left:22px;
	margin-bottom:10px;
	padding: 0;
}

.excerpts .info-req{
	margin-left: 50px;
}

.req-time{
	display: inline-block;
	font-size:80%;
	width: 5%;
}

.excerpts .req-time{
	display:block;
	
} 

.req-sender{
	display: inline-block;
	width: 92%;
	/*overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;*/
    word-wrap: break-word;
    font-weight: bold;
}

.info-atas{
	display: block;
	margin: 2px;
}

span.req-message{
	display: block; 
	word-wrap: break-word;
	margin-left: 40px;
}

.excerpts span.req-message{
	margin: 0;
	/*max-height:80px;*/
	


}

.req-time:before{
	content: "\00bb ";
}

ul#request-list-big li.request span.foto-req[firstString="A"],ul#request-list-big li.request span.foto-req[firstString="1"], ul#request-list-big li.request span.foto-req[firstString="a"]{
	background: #436799;
}

ul#request-list-big li.request span.foto-req[firstString="B"], ul#request-list-big li.request span.foto-req[firstString="b"],ul#request-list-big li.request span.foto-req[firstString="2"]{
	background: #e7b135;
}

ul#request-list-big li.request span.foto-req[firstString="C"], ul#request-list-big li.request span.foto-req[firstString="c"], ul#request-list-big li.request span.foto-req[firstString="3"]{
	background: #55897d;
}

ul#request-list-big li.request span.foto-req[firstString="D"], ul#request-list-big li.request span.foto-req[firstString="d"],ul#request-list-big li.request span.foto-req[firstString="4"]{
	background: #77070f;
}

ul#request-list-big li.request span.foto-req[firstString="E"], ul#request-list-big li.request span.foto-req[firstString="e"], ul#request-list-big li.request span.foto-req[firstString="5"]{
	background: #436799;
}

ul#request-list-big li.request span.foto-req[firstString="F"], ul#request-list-big li.request span.foto-req[firstString="f"], ul#request-list-big li.request span.foto-req[firstString="6"]{
	background: #e7b135;
}

ul#request-list-big li.request span.foto-req[firstString="G"], ul#request-list-big li.request span.foto-req[firstString="g"], ul#request-list-big li.request span.foto-req[firstString="7"]{
	background: #55897d;
}

ul#request-list-big li.request span.foto-req[firstString="H"], ul#request-list-big li.request span.foto-req[firstString="h"], ul#request-list-big li.request span.foto-req[firstString="8"]{
	background: #77070f;
}

ul#request-list-big li.request span.foto-req[firstString="I"], ul#request-list-big li.request span.foto-req[firstString="i"],ul#request-list-big li.request span.foto-req[firstString="9"]{
	background: #436799;
}

ul#request-list-big li.request span.foto-req[firstString="J"], ul#request-list-big li.request span.foto-req[firstString="j"], ul#request-list-big li.request span.foto-req[firstString="0"]{
	background: #e7b135;
}

ul#request-list-big li.request span.foto-req[firstString="K"], ul#request-list-big li.request span.foto-req[firstString="k"]{
	background: #55897d;
}

ul#request-list-big li.request span.foto-req[firstString="L"], ul#request-list-big li.request span.foto-req[firstString="l"]{
	background: #77070f;
}

ul#request-list-big li.request span.foto-req[firstString="M"], ul#request-list-big li.request span.foto-req[firstString="m"]{
	background: #436799;
}

ul#request-list-big li.request span.foto-req[firstString="N"], ul#request-list-big li.request span.foto-req[firstString="n"]{
	background: #e7b135;
}

ul#request-list-big li.request span.foto-req[firstString="O"], ul#request-list-big li.request span.foto-req[firstString="o"]{
	background: #55897d;
}

ul#request-list-big li.request span.foto-req[firstString="P"], ul#request-list-big li.request span.foto-req[firstString="p"]{
	background: #77070f;
}

ul#request-list-big li.request span.foto-req[firstString="Q"], ul#request-list-big li.request span.foto-req[firstString="q"]{
	background: #436799;
}

ul#request-list-big li.request span.foto-req[firstString="R"], ul#request-list-big li.request span.foto-req[firstString="r"]{
	background: #e7b135;
}

ul#request-list-big li.request span.foto-req[firstString="S"], ul#request-list-big li.request span.foto-req[firstString="s"]{
	background: #55897d;
}

ul#request-list-big li.request span.foto-req[firstString="T"], ul#request-list-big li.request span.foto-req[firstString="t"]{
	background: #77070f;
}

ul#request-list-big li.request span.foto-req[firstString="U"], ul#request-list-big li.request span.foto-req[firstString="u"]{
	background: #436799;
}

ul#request-list-big li.request span.foto-req[firstString="V"], ul#request-list-big li.request span.foto-req[firstString="v"]{
	background: #e7b135;
}

ul#request-list-big li.request span.foto-req[firstString="W"], ul#request-list-big li.request span.foto-req[firstString="w"]{
	background: #55897d;
}

ul#request-list-big li.request span.foto-req[firstString="X"], ul#request-list-big li.request span.foto-req[firstString="x"]{
	background: #77070f;
}

ul#request-list-big li.request span.foto-req[firstString="Y"], ul#request-list-big li.request span.foto-req[firstString="y"]{
	background: #436799;
}

ul#request-list-big li.request span.foto-req[firstString="Z"], ul#request-list-big li.request span.foto-req[firstString="z"]{
	background: #e7b135;
}
