
#suararadio_player_container {
	height: 130px;
	width: 180px;
	position:fixed;
	top:30px;
	right:5px;
	background-color: white;
}

#suararadio_player_container_hide {
	height: 10px;
	width: 10px;
	position:fixed;
	top:30px;
	right:5px;
	background-color: white;
}

#suararadio_action {
	color: #643B01;
	font-size: 80%;
	text-align: left;	
}
div.flash-msg
{
	padding:.8em;
	//margin-bottom:1em;
	border:2px solid #ddd;
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
	
	height:30px;
	position:fixed;
	left:5px;
	top:10px;
	width:300px;
	overflow: hidden;
}
div.progress
{
	padding:.8em;
	border:2px solid #ddd;
	background:#DDF7C3;
	color:#514721;
	border-color: #86D311;	
	height:20px;
	position:fixed;
	right:10px;
	top:10px;
	width:20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  	border-radius:6px;
}
div.flash-player
{
	//margin-bottom:1em;
	border:2px solid #ddd;
	background:#05A1F4;
	color:#FDFF1F;
	border-color:#048DD4;
	height:25px;
	position:fixed;
	left:5px;
	top:10px;
	width:40px;
	-moz-border-radius:3px;
  	-webkit-border-radius:3px;
  	border-radius:3px;
  	z-index: 100;    
}
div.flash-player .timeline
{
	margin: 1px 8px;
	float: left;
	font:normal 12px "Cabin";
}
div.flash-player .paused
{
	text-decoration: blink;
}
div.flash-player .statbar
{
	height: 5px;
	width: 48px;
	background: #CFFAFF;
	float: left;
	margin: 0 8px;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
div.flash-player .statbar .position
{
	background-color: #77C7EF;
	position: relative;
	left: 0;
	top: 0;
	height: 5px;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
div.flash-player .statbar .loading
{
	background-color: #BFEAFF;
	position: absolute;
	left: 0;
	top: 0;
	height: 5px;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
div.flash-player .controls {
	float: left;
	height: 100%;
	padding-top: 2px;
	width: 100px;
}
div.flash-player .buttonplayer {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	float: left;
}
div.flash-player .play {
	background-image: url(images/control_play.png);
	display: none;
}
div.flash-player .play:hover {
	background-image: url(images/control_play_blue.png);
}
div.flash-player .pause {
	background-image: url(images/control_pause.png);
}
div.flash-player .pause:hover {
	background-image: url(images/control_pause_blue.png);
}
div.flash-player .stop {
	background-image: url(images/control_stop.png);
}
div.flash-player .stop:hover {
	background-image: url(images/control_stop_blue.png);
}
div.flash-player .next {
	background-image: url(images/control_end.png);
}
div.flash-player .next:hover {
	background-image: url(images/control_end_blue.png);
}
div.flash-player .prev {
	background-image: url(images/control_start.png);
}
div.flash-player .prev:hover {
	background-image: url(images/control_start_blue.png);
}
div.flash-player .list {
	background-image: url(images/control_list.png);
}
div.flash-player .listactive {
	background-image: url(images/control_list_blue.png);
}
div.flash-player .list:hover {
	background-image: url(images/control_list_blue.png);
}
div.flash-player .slider {
	float: left;
	width: 65px;
}
div.flash-player .vumeter {
	float: left;
	width: 40px;
}
div.flash-player .vumeter .left {
	background-color: #ddff99;
	position: relative;
	left: 0;
	top: 4px;
	height: 8px;
}
div.flash-player .vumeter .right {
	background-color: #ccff99;
	position: relative;
	left: 0;
	top: 5px;
	height: 8px;
}

.sr-icon { width: 5px; height: 14px; background-image: url(images/toolbar.png);}
.sr-icon-play { background-position: 3px 1px;}
.sr-icon-pause { background-position: -14px 1px;}
//.sr-icon-next { background-position: -29px 1px;}
//.sr-icon-prev { background-position: -46px 1px;}
.sr-icon-end { background-position: -62px 1px;}
.sr-icon-last { background-position: -62px 1px;}
.sr-icon-next { background-position: -62px 1px;}
.sr-icon-start { background-position: -78px 1px;}
.sr-icon-first { background-position: -78px 1px;}
.sr-icon-prev { background-position: -78px 1px;}
.sr-icon-stop { background-position: -94px 1px;}
a.bg-button { 
	/* background-color: #efefef; padding: 2px 10px 4px 10px; */
}
a.delItem, a.delPlaylist {
	background: url("images/del-list.png") center center no-repeat transparent;
	width: 40px;
	height: 34px;
	display: inline-block;
	/*vertical-align: middle;*/
	background-size: cover;
}
a.delItem:hover, a.delPlaylist:hover {
	background: url("images/del-list2.png") center center no-repeat transparent;
	background-size: cover;
}
a.addPlaylist, a.addItem {
	background: url("images/add-list.png") center center no-repeat transparent;
	width: 40px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
}
a.addPlaylist:hover, a.addItem:hover {
	background: url("images/add-list2.png") center center no-repeat transparent;
	background-size: cover;
}


/***************** membership *************/
.hide {
	display: none;
}
div#klubradio{
	width: 100%;
  margin:0 auto;        
  background:#fff;      
}

div#klubradioIsi{
	width: 100%;
  margin:0 auto;        
  background:#fff;      
}

.utamaIsi{
	display: inline-table;
	width:100%
	
}

.logoKlubRadio {	
  background-image: url("images/KR.png");  
  height: 80px;
  background-repeat: no-repeat;
  margin: 20px 390px;
  width: 235px;	
}
.liTi
{
	color:#494A47;
	text-align:left;
	font:bold 13px "Arial";	
	width:720px;
}

.liTi a
{
  color:#494A47;
	font:bold 13px "Arial";	
  text-decoration:none;
}

.klubradioatas{
	background-image: url("images/KR.png") no-repeat;
	width: 980px;	
	height: 90px;
}
.klubradioIsiLeft {
 	float:left;	
	margin:0px 0px 0 0px;
	//border-right : 1px dashed #A9A9E8;	
	width: 100%;	
	display: inline-table;
	background: none repeat scroll 0 0 #F2F3F3;
}

.klubradioIsiRight {
  	float:left;	
	/*margin:0 10px 0 0;*/	
	width: 99%;	
	display: inline-table;
}

ul.memClickable 
{
  margin-left: 6%;
  padding:0;
  margin-left: 5%;
  width:95%;
}

ul.memClickable li
{
  list-style-type:none;
  padding:0;
  margin-left: 5%;
  float:left;
  margin-bottom: 10px;
}


ul.memClickable li a {
    background: #eaeaea;
	text-align:center;
	padding:3px 8px 3px 8px;
	display:block;
	text-decoration:none;
	color:#046599;
	font:bold 12px "Arial";	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
    height: 20px;
}

ul.memClickable li a.selected {

	text-align:center;
	padding:3px 8px 3px 8px; 
	display:block;
	text-decoration:none;
	color:#ffffff;
	font:bold 12px "Arial";	
	background-color:#627EA3;
        height: 20px;
}

ul.memClickable li a:hover {
	text-align:center;
	padding:3px 8px 3px 8px;
	display:block;
	text-decoration:none;
	color:#ffffff;
	font:bold 12px "Arial";	
	background-color:#acd24e; //#05A2F4;
    height: 20px;
}

.row1 {
	background: #E5E6E7;		
	vertical-align: middle;
	height: 40px;
}

.row2 {
	background: #F5F6F6;	
	vertical-align: middle;
	height: 40px;
}

a.linkMember{
    text-decoration: none;
    color: #666;    
    font-size:13px;
    margin-left:5px;
}

a.linkMember:hover{
  border-bottom: 1px dotted #666;  
    font-size:13px;
    margin-left:5px;

}

input.button-primary[type="button"] {
    background: none repeat scroll 0 0 #627DA3;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font: 1em "Ubahn";
    padding: 4px;
    margin: 1px;
    border-radius: 5px;
}

input.button-primary:hover[type="button"] {
    background: none repeat scroll 0 0 #627DA3;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Ubahn;
    font-size: 1em;
    padding: 4px;
    margin: 1px;
    -moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input.button-secondary[type="button"] {
    background: none repeat scroll 0 0 #647DA2;
    border: medium none;
    color: #fefefe;
    cursor: pointer;
    font: 1em "Ubahn";
    padding: 4px;
    margin: 1px;
    border-radius: 5px;
}

input.button-secondary:hover[type="button"] {
    background: none repeat scroll 0 0 #acd24e;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Ubahn;
    font-size: 1em;
    padding: 4px;
    margin: 1px;
    -moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.button-play {
	background: none repeat scroll 0 0;
	border: medium none;
	cursor: pointer;
}
#doPrev img {
	margin-top: -20px;
}
#doPlay img {
	margin-top: -30px;
}
#doStop img {
	margin-top: -30px;
}
#doNext img {
	margin-top: -20px;
}
.toolbarBottom {
	border: 4px solid #E0E1E2;
	background-color: #ffffff;
	text-align: center;	
	margin-bottom:30px;
}
#accountView {
	position: relative;
}
#accountView header {
	background:#ffffff;
	display: block;
	width: 100%;
}
#accountView header span {
	display: table-cell;
	width: 100%;
	padding-left: 8px;
	font-size: 10pt;
	color: #627da3;
	vertical-align: middle;
}
#accountView #accToolbar {
	display: table-cell;
	width: 30%;
}
#accountView .accDetail {
	clear: both;
	background: url("images/bg_info2.png") no-repeat scroll 100% 100% #d2d3d5;
	display: inline-block;
	width: 100%;
	height: 120px;
}
#accountView .accFoto {
	float: left;
	margin: 10px 10px;
	overflow: hidden;
		width: 100px;
}
#accountView .accInfo {
	float: left;
	font-size: 10pt;
	color: #627da3;
	padding-top: 10px;
	
}
#accountView .accInfo label{
	clear: left;
	float: left;
	width: 50px;
	text-align:left;
}
#accountView .accInfo span{
	float: left;
}
#accountView .accInfo p{
	clear: left;
	margin-top: 10px;
	padding-top: 10px;
}
#accountView .accButton {
    bottom: 20px;
    display: block;
    position: absolute;
    right: 0;
}
#accountView .accSince {
	bottom: 20px;
    left: 130px;
    position: absolute;
    font-size: 10pt;
	color: #627da3;
    margin-left:-10px;
}
#dataView {
	background: none repeat scroll 0 0 #ffffff;
	margin: 5px;
}
.leftBody{
	clear: both;
	padding-top: 4px;
}



/* pindahan style dari suararadio css */
.listData ul li {
  /* width:100%; */
  background:#eaeaea;
  list-style-type:none;
  padding:0;
  margin:0 0px 0 -9px;
  clear: both;
  color: #666666;
  font:16px "Ubahn";
  height: 45px;
  /* display: table-row;
   margin-top: 20px; */
}

.listData ul li:nth-child(even) {
	background-color: #E5E6E7;
}
.listData ul li:hover {
	color: #3e5e96;
	background-color: #eaeaea;
}
.listData ul li .player
{
	display: table-cell;
       float:left;
 	margin:-top:4px;
	/*vertical-align: middle;*/
}
.listData ul li .title
{
	width: 55%;
	text-align: left;		
	padding: 7px 5px;
	/*vertical-align: middle;*/
	font-size:13px;
	height: 10px;
	float: left;
	padding-top: 10px;
}

.listData ul li .info
{
	text-align: center;
	vertical-align: middle;
	width: 30px;
	color: #73c00e;
	font: 11px "Cabin";
	/*border-left: 1px solid;*/;
	height:0px;
	padding-top: 30px;
	float: left;
	border-left: 1px dashed #888;
}

.listData ul li .action
{
		float: right;
	
		margin-top: -35px;
		padding-left: 120px;
}

.listData .action a {
	
}

.listData .action a:hover {
	
}

div.listData {
	clear: both;
	/*max-height: 450px;
	overflow: auto;
	margin-top: 30px;*/
	margin-bottom: 10px;
	padding-left: 10px;
	
	scrollbar-base-color: red;
	scrollbar-arrow-color: white;

	scrollbar-shadow-color: blue;
	scrollbar-lightshadow-color: green;
	scrollbar-darkshadow-color: blue;

	scrollbar-highlight-color: yellow;
	scrollbar-3dlight-color: black;
}
.klubPlaylist {
	padding: 5px 8px;
}
.klubListData {
	background: none repeat scroll 0 0 #F2F3F3;
    margin: 5px;
    padding: 5px;
}
.listInfo {
 clear: left;
 text-align: left;
 padding: 10px 0 0 0;
 //font: 12px "Cabin";
}
.listButton {
 clear: both;
 text-align: center;
 padding: 5px 20px;
 font: 12px "Cabin";
}
.showPlaylist {
	cursor: pointer;
}
#toolbar {
	//width: 300px;
	margin-top: 0px;
	
}
#sliderbar {
	/*margin-top: -35px;
	margin-left: 70%;*/
	width:100%;
}
#sliderbar .timeline
{
	margin: 1px 8px;
	float: left;
	font:normal 10px "Cabin";
}
#sliderbar .statbar
{
	height: 10px;
	width: 100%;
	float: left;
	margin: 0 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  	border-radius: 10px;
  	overflow-x: hidden;
  	overflow-y: hidden;
  	position: relative;
  	border: 1px solid #aeb0b2;
  	
  	background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.16) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.16))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.16) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.16) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.16) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.16) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#29000000',GradientType=0 ); /* IE6-9 */
}
#slidebar .statbar .position
{
	background-color: #77C7EF;
	position: relative;
	left: 0;
	top: 0;
	height: 10px;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
}
#slidebar .statbar .loading
{
	background-color: #BFEAFF;
	position: absolute;
	left: 0;
	top: 0;
	height: 10px;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
}

div.title {
	clear: left;
	font:  16px "Cabin";
	color: #F68B00;
}
div.content {
 clear: left;
 font: normal 12px "Cabin";
}
div.content .time {
	padding: 0 4px;
}
div.content .method {
	padding: 0 4px;
	font: 12px "Cabin";
}
div.content .link {
	padding: 0 4px;
}
div.content .media {
	padding: 0 4px;
}
div.clear {
 clear: both;
}
.row_odd {	
}
.row_even {
}
input.member {
	padding: 0px 5px;
}

section.listTitle {
 text-align: center;
 padding: 2px 0 2px 0;
 font: 12px "Cabin";
 color: #ffffff;
 text-transform: uppercase;
 overflow: hidden;
}

#titleSongs {
 text-align: center;
 padding: 2px 0 2px 0;
 font: 12px "Cabin";
 color: #ffffff;
 text-transform: uppercase;
 overflow: hidden;
}

div#sampulAlbum {
	height: 250px;
	background-image: linear-gradient(bottom, rgb(59,66,62) 6%, rgb(187,199,193) 91%);
	background-image: -o-linear-gradient(bottom, rgb(59,66,62) 6%, rgb(187,199,193) 91%);
	background-image: -moz-linear-gradient(bottom, rgb(59,66,62) 6%, rgb(187,199,193) 91%);
	background-image: -webkit-linear-gradient(bottom, rgb(59,66,62) 6%, rgb(187,199,193) 91%);
	background-image: -ms-linear-gradient(bottom, rgb(59,66,62) 6%, rgb(187,199,193) 91%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(59,66,62)),
		color-stop(0.91, rgb(187,199,193))
	);
}

.playlistTitle {
	padding: 0 8px;
	color: #627da3;
	font-size: 16pt;
}
#imageAlbum {
	padding: 2px 0 0 0;
	
	height: 184px;
	overflow: hidden;
}

/* start bagian song view detail */
section#songView {
	clear: both;
	display: inline-block;
}
#songView .songAlbumArt {
	float: left;
overflow: hidden;
width: 85%;
height: 200px;
}
#songView .songDetail {
float: left;
width: 94%;
background: #EAEAEA;
padding: 10px;

margin-bottom: 10px;
font-size: 12px;

}
#songView .songDetail label{
	clear: left;
float: left;
width: 30%;
margin: 3px;
}
#songView .songDetail span{
	float: left;
	width: 60%;
}
section#albumView {
	margin: 0 15px;border-bottom: 1px solid #888;
}
section#albumView li{
	float: left;
display: table;
padding: 5px;
width: 25%;
	padding-top: 20px;
}
section#albumView li img{
	display: table-row;
}
section#albumView li label{
	/* display: table-row; */
	overflow: hidden;
	height: 32px;
}
section#albumView li span{
	/* display: table-row; */
	color: #7A7A7A;
    font-size: 12px;
    line-height: 24px;
}
section#listLaguView {
	clear: both;
	margin: 0 15px;
	border-top: 1px solid #888;
	padding-top: 10px;
}
/* end bagian song view detail */

/* start bagian account view detail */
#accountFoto {

    margin-top: -10px;
    
  
}
#accountFoto img {
	border: 5px solid #EAEAEA;
   /* width: 250px; */
	box-shadow: 2px 2px 5px #202020;
	-moz-box-shadow: 2px 2px 5px #202020;
	-webkit-box-shadow: 2px 2px 5px #202020;
}
#accountDetail {
	/*background-image: url("images/KlubRadio_klite.png");
   	background-repeat: no-repeat;
   	background-size: 100% 100%;*/
    	height: 200px;
    	width: 97%;
    	z-index: 1;}

#accountDetail_vcard {
	/*background-image: url("images/KlubRadio_klite.png");
   	background-repeat: no-repeat;
   	background-size: 100% 100%;*/
    	height: 200px;
    	color:#fff;
    	width: 97%;
    	margin:5px;
    	margin-top:-210px;
    	z-index: 1;
	font-family:Calibri;}

#vcard img{
	height: 200px; color:#fff; margin-left:5px; margin-right:5px; width:300px; margin-top:10px; z-index: 1;
	
}

.text_vcard1{	
    margin-left: -120px;
    margin-top: 15px;
    font-size:10px;
  
}

.no_card{
    font-size: 30px;
    margin-left: -70px;
    margin-top: 20px;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
}

.nm_radio{
     font-size: 10px;
    margin-left: 225px;
    margin-top: -5px;
    text-transform: uppercase;
    font-weight:bold;
}

.valid_date{
	font-size: 8px;
       margin-top: 12px;
  
   
}

.valid_date .text_month_year{
	float: right;
    margin-left: 155px;
    margin-top: -8px;
    position: absolute;	
}

.valid_date .month_year{
	font-size: 20px;
    margin-left: 55px;
     text-shadow: 1px 1px #000;	
}

.text_name{
	  font-size: 16px;
    margin: 0 0 0 5%;
    text-align: left;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
    }

.no_bwh{
	font-size: 14px;
    margin-left: -85px;
    margin-top: 0;
    text-transform: uppercase;
    width: 100%;
}

.logo_bri{
	 margin: -45px 5px 5px 90px;
    	
}

.logo_bri img{
	 color: #FFFFFF;
    height: 50px;
}

.logo_radio_card{
	  margin: -60px 5px 5px 230px;
    	
}

.logo_radio_card img{
	 color: #FFFFFF;
    height: 50px;
}

.logo{
    margin: -55px 0 0 202px;

}

.logo .support{

    width: 40px
}

.valid_true{
	font-size: 8px;
    margin-left: -30px;
    margin-top: 15px;
    position: absolute;
    width: 100%;}


#accountDetail .row {
	margin: 0px 20px;
	clear:both;
}
label {
	display: block;
}
#accountDetail .row label {

	float: left;
    letter-spacing: 1px;
    text-align: left;
    width: 30%;
 font-sixe:14px;

}
.logoAccount {
  height: 80px;
  width: 256px;
  margin: 20px 40px;
  float: left;
  margin-bottom: 5px;
}
.lgBuddy {
	background: url("images/KR.png") no-repeat center;
}
.lgListener {
	background: url("images/KR1.png") no-repeat center;
}
.lgFans {
	background: url("images/KR2.png") no-repeat center;
}
.lgLover {
	background: url("images/KR3.png") no-repeat center;
}
.lgMania {
	background: url("images/KR4.png") no-repeat center;
}
.lgLegend {
	background: url("images/KR5.png") no-repeat center;
}
.krMemberType {

    font-size: 25px;
    margin: 10px;
    float: left;
	width:90%;
}
.krmtBuddy {
	color: #627DA3;
}
.krmtListener {
	color: #D2D3D5;
}
.krmtFans {
	color: #A6D050;
}
.krmtLover {
	color: #FDCC3A;
}
.krmtMania {
	color: #EB2836;
}
.krmtLegend {
	color: #373435;
}
.krStar {
	float: right;
	margin: 20px 40px;
}
.krAccount {
}

.krbgBuddy {
	background: url("images/bgrad20_li.png") no-repeat scroll 98% 90% #ffffff;
	margin: 0 0px;
	margin-bottom:30px;
}

.krbgBuddy_vcard{
	margin: 0 0px;
}

.krbgListener {
	background: url("images/bgrad20_li.png") no-repeat scroll 98% 90% #D2D3D5;
	/*margin: 0 20px;*/
}
.krbgFans {
	background: url("images/bgrad20_fa.png") no-repeat scroll 98% 90% #A6D050;
	/*margin: 0 20px;*/
}
.krbgLover {
	background: url("images/bgrad20_lo.png") no-repeat scroll 98% 90% #FDCC3A;
	/*margin: 0 20px;*/
}
.krbgMania {
	background: url("images/bgrad20_ma.png") no-repeat scroll 98% 90% #EB2836;
	/*margin: 0 20px;*/
}
.krbgLegend {
	background: url("images/bgrad20_le.png") no-repeat scroll 98% 90% #373435;
	/*margin: 0 20px;*/
}
.txtBuddy {
	float: left;
    text-align: left;
 	font-size:14px;
}
.txtListener {
	color: #606062;
}
.txtFans {
	color: #FEFEFE;
}
.txtLover {
	color: #FEFEFE;
}
.txtMania {
	color: #FEFEFE;
}
.txtLegend {
	color: #FEFEFE;
}


/* end bagian account view detail */
/* start bagian member account payment */
#dialogPay{
	width:100%;
	text-align: center;
	vertical-align: baseline;
	display: table;
}
ul.imgList {
  margin:auto;
  display: table-row;
  text-align: center;
}
ul.imgList li
{
  list-style-type:none;
  width: 33%;
  display: table-cell;  
}
ul.imgList li img
{	
}
ul.imgList li input
{
}
/* end bagian member account payment */

/****** overide ******/
#featured {
	background: none repeat scroll 0 center transparent !important;
	border: 0 none !important;
    position: relative;
    width: 388px;
    padding: 0;
}
#featured .ui-tabs-panel {
    height: 288px;
    width: 384px;
    background: none repeat scroll 0 center transparent !important;
    border: 0 none !important;
}
#featured ul.ui-tabs-nav {
    left: 395px;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    line-height: 1 !important;
    top: 0;
    border: 0;
}
a.overlay {
    color: #FFFFFF !important;
    text-decoration: none;
}
#featured ul.ui-tabs-nav li p.tunes-desc a{ 	
    font-weight: normal !important;
}

#wp_page_numbers ul, #wp_page_numbers li, #wp_page_numbers a {
	background: white;
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-transform: none;
	text-indent: 0px;
	font-variant: normal;
	text-align: left;
	line-height: 12px;
	letter-spacing: 0px;
	word-spacing: 0px;
	font-size: 11px;
	font-family: Arial;
}

#wp_page_numbers {
	margin-top: 10px;
	width: 100%;
	background: white;
	margin-bottom: 40px;
}
#wp_page_numbers ul {
	width: 100%;
}
#wp_page_numbers li {
	float: left;
	display: block;
	margin-bottom: 2px;
}

#wp_page_numbers a {
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 2px;
	margin-right: 2px;
	display: block;
	color: #333;
	border: 1px solid #bfbfbf;
}

#wp_page_numbers li a:hover {
	border-color: #BA0000;
}

#wp_page_numbers li.space {
	padding: 6px;
	padding-left: 2px;
	padding-right: 2px;
}

#wp_page_numbers li.first_last_page {
	font-style: italic;
}

#wp_page_numbers li.active_page a {
	border-color: #0075b8;
}
#wp_page_numbers li.active_page a:hover  {
	color: black; /* IE fix */
	text-decoration: underline;
	border-color: #BA0000;
}

#wp_page_numbers li.page_info {
	float: left;
	display: block;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 2px;
	color: #666;
	font-size: 11px;
	border: 1px solid #bfbfbf;
}
/****** end overide ******/
