.clearfix{*zoom:1}.clearfix:before,
 .clearfix:after{display:table;line-height:0;content:""}
 .clearfix:after{clear:both}
 .hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
 .input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
 @-ms-viewport{width:device-width}.hidden{display:none;visibility:hidden}.visible-phone{display:none!important}
 .visible-tablet{display:none!important}
 .hidden-desktop{display:none!important}
 .visible-desktop{display:inherit!important}
 @media(min-width:768px) and (max-width:979px){
    .hidden-desktop{display:inherit!important}
    .visible-desktop{display:none!important}
    .visible-tablet{display:inherit!important}
    .hidden-tablet{display:none!important}}
 @media(max-width:767px){
    .hidden-desktop{display:inherit!important}
    .visible-desktop{display:none!important}
    .visible-phone{display:inherit!important}
    .hidden-phone{display:none!important}}
    .visible-print{display:none!important}
 @media print{.visible-print{display:inherit!important}
    .hidden-print{display:none!important}}
 @media(min-width:768px) and (max-width:979px){
    .row{margin-left:-20px;*zoom:1}
    .row:before,
    .row:after{display:table;line-height:0;content:""}
    .row:after{clear:both}[class*="span"]{float:left;min-height:1px;margin-left:20px}
    .container,
    .navbar-static-top 
    .container,.navbar-fixed-top 
    .container,.navbar-fixed-bottom 
    .container{width:724px}
    .span12{width:724px}.span11{width:662px}.span10{width:600px}.span9{width:538px}.span8{width:476px}.span7{width:414px}.span6{width:352px}.span5{width:290px}.span4{width:228px}.span3{width:166px}.span2{width:104px}.span1{width:42px}.offset12{margin-left:764px}.offset11{margin-left:702px}.offset10{margin-left:640px}.offset9{margin-left:578px}.offset8{margin-left:516px}.offset7{margin-left:454px}.offset6{margin-left:392px}.offset5{margin-left:330px}.offset4{margin-left:268px}.offset3{margin-left:206px}.offset2{margin-left:144px}.offset1{margin-left:82px}.row-fluid{width:100%;*zoom:1}.row-fluid:before,.row-fluid:after{display:table;line-height:0;content:""}.row-fluid:after{clear:both}.row-fluid [class*="span"]{display:block;float:left;width:100%;min-height:30px;margin-left:2.7624309392265194%;*margin-left:2.709239449864817%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.row-fluid [class*="span"]:first-child{margin-left:0}.row-fluid .controls-row [class*="span"]+[class*="span"]{margin-left:2.7624309392265194%}.row-fluid .span12{width:100%;*width:99.94680851063829%}.row-fluid .span11{width:91.43646408839778%;*width:91.38327259903608%}.row-fluid .span10{width:82.87292817679558%;*width:82.81973668743387%}.row-fluid .span9{width:74.30939226519337%;*width:74.25620077583166%}.row-fluid .span8{width:65.74585635359117%;*width:65.69266486422946%}.row-fluid .span7{width:57.18232044198895%;*width:57.12912895262725%}.row-fluid .span6{width:48.61878453038674%;*width:48.56559304102504%}.row-fluid .span5{width:40.05524861878453%;*width:40.00205712942283%}.row-fluid .span4{width:31.491712707182323%;*width:31.43852121782062%}.row-fluid .span3{width:22.92817679558011%;*width:22.87498530621841%}.row-fluid .span2{width:14.3646408839779%;*width:14.311449394616199%}.row-fluid .span1{width:5.801104972375691%;*width:5.747913483013988%}.row-fluid .offset12{margin-left:105.52486187845304%;*margin-left:105.41847889972962%}.row-fluid .offset12:first-child{margin-left:102.76243093922652%;*margin-left:102.6560479605031%}.row-fluid .offset11{margin-left:96.96132596685082%;*margin-left:96.8549429881274%}.row-fluid .offset11:first-child{margin-left:94.1988950276243%;*margin-left:94.09251204890089%}.row-fluid .offset10{margin-left:88.39779005524862%;*margin-left:88.2914070765252%}.row-fluid .offset10:first-child{margin-left:85.6353591160221%;*margin-left:85.52897613729868%}.row-fluid .offset9{margin-left:79.8342541436464%;*margin-left:79.72787116492299%}.row-fluid .offset9:first-child{margin-left:77.07182320441989%;*margin-left:76.96544022569647%}.row-fluid .offset8{margin-left:71.2707182320442%;*margin-left:71.16433525332079%}.row-fluid .offset8:first-child{margin-left:68.50828729281768%;*margin-left:68.40190431409427%}.row-fluid .offset7{margin-left:62.70718232044199%;*margin-left:62.600799341718584%}.row-fluid .offset7:first-child{margin-left:59.94475138121547%;*margin-left:59.838368402492065%}.row-fluid .offset6{margin-left:54.14364640883978%;*margin-left:54.037263430116376%}.row-fluid .offset6:first-child{margin-left:51.38121546961326%;*margin-left:51.27483249088986%}.row-fluid .offset5{margin-left:45.58011049723757%;*margin-left:45.47372751851417%}.row-fluid .offset5:first-child{margin-left:42.81767955801105%;*margin-left:42.71129657928765%}.row-fluid .offset4{margin-left:37.01657458563536%;*margin-left:36.91019160691196%}.row-fluid .offset4:first-child{margin-left:34.25414364640884%;*margin-left:34.14776066768544%}.row-fluid .offset3{margin-left:28.45303867403315%;*margin-left:28.346655695309746%}.row-fluid .offset3:first-child{margin-left:25.69060773480663%;*margin-left:25.584224756083227%}.row-fluid .offset2{margin-left:19.88950276243094%;*margin-left:19.783119783707537%}.row-fluid .offset2:first-child{margin-left:17.12707182320442%;*margin-left:17.02068884448102%}.row-fluid .offset1{margin-left:11.32596685082873%;*margin-left:11.219583872105325%}.row-fluid .offset1:first-child{margin-left:8.56353591160221%;*margin-left:8.457152932878806%}input,textarea,.uneditable-input{margin-left:0}.controls-row [class*="span"]+[class*="span"]{margin-left:20px}input.span12,textarea.span12,.uneditable-input.span12{width:710px}input.span11,textarea.span11,.uneditable-input.span11{width:648px}input.span10,textarea.span10,.uneditable-input.span10{width:586px}input.span9,textarea.span9,.uneditable-input.span9{width:524px}input.span8,textarea.span8,.uneditable-input.span8{width:462px}input.span7,textarea.span7,.uneditable-input.span7{width:400px}input.span6,textarea.span6,.uneditable-input.span6{width:338px}input.span5,textarea.span5,.uneditable-input.span5{width:276px}input.span4,textarea.span4,.uneditable-input.span4{width:214px}input.span3,textarea.span3,.uneditable-input.span3{width:152px}input.span2,textarea.span2,.uneditable-input.span2{width:90px}input.span1,textarea.span1,.uneditable-input.span1{width:28px}}
 @media(max-width:767px){
    body{}
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top{margin-right:-20px;margin-left:-20px}
    .container-fluid{padding:0}
    .dl-horizontal dt{float:none;width:auto;clear:none;text-align:left}
    .dl-horizontal dd{margin-left:0}
    .container{width:auto}
    .row-fluid{width:100%}
    .row,
    .thumbnails{margin-left:0}
    .thumbnails>li{float:none;margin-left:0}[class*="span"],
    .uneditable-input[class*="span"],
    .row-fluid [class*="span"]{display:block;float:none;width:100%;margin-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.span12,.row-fluid .span12{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.row-fluid [class*="offset"]:first-child{margin-left:0}.input-large,.input-xlarge,.input-xxlarge,input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.input-prepend input,.input-append input,.input-prepend input[class*="span"],.input-append input[class*="span"]{display:inline-block;width:auto}.controls-row [class*="span"]+[class*="span"]{margin-left:0}.modal{position:fixed;top:20px;right:20px;left:20px;width:auto;margin:0}.modal.fade{top:-100px}.modal.fade.in{top:20px}}
    @media(max-width:480px){.nav-collapse{-webkit-transform:translate3d(0,0,0)}
    .page-header h1 small{display:block;line-height:20px}input[type="checkbox"],
    input[type="radio"]{border:1px solid #ccc}
    .form-horizontal .control-label{float:none;width:auto;padding-top:0;text-align:left}
    .form-horizontal .controls{margin-left:0}.form-horizontal .control-list{padding-top:0}.form-horizontal .form-actions{padding-right:10px;padding-left:10px}.media .pull-left,.media .pull-right{display:block;float:none;margin-bottom:10px}.media-object{margin-right:0;margin-left:0}.modal{top:10px;right:10px;left:10px}.modal-header .close{padding:10px;margin:-10px}.carousel-caption{position:static}}@media(max-width:979px){body{padding-top:0}.navbar-fixed-top,.navbar-fixed-bottom{position:static}.navbar-fixed-top{margin-bottom:20px}.navbar-fixed-bottom{margin-top:20px}.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner{padding:5px}.navbar .container{width:auto;padding:0}.navbar .brand{padding-right:10px;padding-left:10px;margin:0 0 0 -5px}.nav-collapse{clear:both}.nav-collapse .nav{float:none;margin:0 0 10px}.nav-collapse .nav>li{float:none}.nav-collapse .nav>li>a{margin-bottom:2px}.nav-collapse .nav>.divider-vertical{display:none}.nav-collapse .nav .nav-header{color:#777;text-shadow:none}.nav-collapse .nav>li>a,.nav-collapse .dropdown-menu a{padding:9px 15px;font-weight:bold;color:#777;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.nav-collapse .btn{padding:4px 10px 4px;font-weight:normal;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.nav-collapse .dropdown-menu li+li a{margin-bottom:2px}.nav-collapse .nav>li>a:hover,.nav-collapse .nav>li>a:focus,.nav-collapse .dropdown-menu a:hover,.nav-collapse .dropdown-menu a:focus{background-color:#f2f2f2}.navbar-inverse .nav-collapse .nav>li>a,.navbar-inverse .nav-collapse .dropdown-menu a{color:#999}.navbar-inverse .nav-collapse .nav>li>a:hover,.navbar-inverse .nav-collapse .nav>li>a:focus,.navbar-inverse .nav-collapse .dropdown-menu a:hover,.navbar-inverse .nav-collapse .dropdown-menu a:focus{background-color:#111}.nav-collapse.in .btn-group{padding:0;margin-top:5px}.nav-collapse .dropdown-menu{position:static;top:auto;left:auto;display:none;float:none;max-width:none;padding:0;margin:0 15px;background-color:transpare2nt;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.nav-collapse .open>.dropdown-menu{display:block}.nav-collapse .dropdown-menu:before,.nav-collapse .dropdown-menu:after{display:none}.nav-collapse .dropdown-menu .divider{display:none}.nav-collapse .nav>li>.dropdown-menu:before,.nav-collapse .nav>li>.dropdown-menu:after{display:none}.nav-collapse .navbar-form,.nav-collapse .navbar-search{float:none;padding:10px 15px;margin:10px 0;border-top:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1)}.navbar-inverse .nav-collapse .navbar-form,.navbar-inverse .nav-collapse .navbar-search{border-top-color:#111;border-bottom-color:#111}.navbar .nav-collapse .nav.pull-right{float:none;margin-left:0}.nav-collapse,.nav-collapse.collapse{height:0;overflow:hidden}.navbar .btn-navbar{display:block}.navbar-static .navbar-inner{padding-right:10px;padding-left:10px}}@media(min-width:980px){.nav-collapse.collapse{height:auto!important;overflow:visible!important}}.com{color:#93a1a1}.lit{color:#195f91}.pun,.opn,.clo{color:#93a1a1}.fun{color:#dc322f}.str,.atv{color:#d14}.kwd,.linenums .tag{color:#1e347b}.typ,.atn,.dec,.var{color:#008080}.pln{color:#48484c}.prettyprint{padding:8px;background-color:#f7f7f9;border:1px solid #e1e1e8}.prettyprint.linenums{-webkit-box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;-moz-box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0}ol.linenums{margin:0 0 0 33px}ol.linenums li{padding-left:12px;color:#bebec5;line-height:18px;text-shadow:0 1px 0 #fff}a{color:#e3520f}a:hover{text-decoration:none;color:#000}.content-title{color:#423f3f;text-align:center;padding-top:7px;background:#ddd;font-weight:normal}
    .middle-title{padding-left:19px;text-transform: uppercase;}
    p.mini-title{max-height:20px;overflow:hidden}.text-header{margin-bottom:20px}.text-header h1{font-size:4em}.moz-mini{color:#f90;margin-left:5px;font-size:10px;font-weight:bold}.small-text{font-size:11px}.center{text-align:center}.left{text-align:left}.right{text-align:right}.white{color:#fff}.red{color:#cd1919}.green{color:#7fe906}.playbtn{height:60px;width:60px;background:#000;position:absolute;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.playbtn:hover{background:#f90}.fbplaybtn{height:60px;width:60px;background:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.fbplaybtn:hover{background:#1c609f}
    .btn-player{background:#fff;padding:5px;height:30px}
    .head-post{background:#eee}.post-title{padding:5px;display:block;background:#fff;font-size:17px;margin-bottom:2px}.post-title a.post-play-btn img{height:40px;width:40px;position:relative;background:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.post-title a.post-fbplay-btn img:hover{background:#f90}.post-title a.post-fbplay-btn img{height:40px;width:40px;position:relative;background:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.post-title a.post-play-btn img:hover{background:#f90}.content-post{padding-bottom:10px;border-bottom:1px solid #ddd}
    .count1{font-size:10px;font-color:#e3520f;padding:1px 3px}
    .form-search-radio input[type="text"],.form-search-radio input[type="password"]{width:95%;height:30px}.form-search-radio input{margin-bottom:15px}.header-box-content{background:0;margin-bottom:0}.header-banner{padding-top:0px}.top-content{border-bottom:1px solid #464545}.main-content-box{min-height:20px}.featured-box{background:#fff;margin-bottom:20px;padding:0 0 20px 0;border-bottom:1px solid #ddd}.radio-box-slider{min-height:20px;padding:2px 20px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)}.sidebar-box{background:#fff}

    .nav-pills>.active>a,.nav-pills>.active>a:hover,.nav-pills>.active>a:focus{color:#000;background:#d5d0d0}.nav-pills>li>a{background:transparent;color:#424242;font-size:12px;padding-right:7px;padding-left:7px;margin-right:2px;line-height:12px}.nav-pills>li>a:hover{color:#fff;background:#0a0809}
    .nav-tabs>li>a{padding-top:8px;padding-bottom:8px;line-height:20px;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
    /*.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{border:0;background:#ddd}.nav-tabs>.active>a,.nav-tabs>.active>a:hover,.nav-tabs>.active>a:focus{cursor:default;border:0;border-bottom-color:transparent;}*/
    .radio-bigbox{min-height:20px;margin-bottom:20px;background:#f3f3f3}
    .featured-thumb{background:#000 url(../img/play1mini.png) no-repeat center}img.feat-thumb{width:100%;overflow:hidden;opacity:1;-webkit-transition-duration:.8s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}img.feat-thumb:hover{opacity:.7}span.diskon{background:#f90;color:#fff;font-weight:bold}span.laris-date{background:#7fe906;color:#fff;font-weight:bold}.laris-info{color:#fff;background:#b93f19}ul.radio-archive li{background:#fff;-moz-box-shadow:0 5px 10px #1a191a;-webkit-box-shadow:0 5px 10px #1a191a;box-shadow:0 5px 10px #1a191a}span.status{background:#ebe8e8;font-weight:bold;-moz-border-radius:75px;-webkit-border-radius:75px;border-radius:75px;-moz-box-shadow:inset 2px 3px 5px #ddd;-webkit-box-shadow:inset 2px 3px 5px #ddd;box-shadow:inset 2px 3px 5px #ddd}
    ul.list-log-staytune{background:#ebe8e8;padding:5px}ul.list-log-staytune li{background:#fff;border-bottom:1px solid #ddd}ul.list-log-staytune li .top-stay-tuned{background:#890c0c}ul.list-log-staytune li .top-stay-tuned img.mini-avatar{border:1px solid #fff}ul.list-log-staytune li .top-stay-tuned p.avatar-name{color:#fff}.on-channel{background:#23282b}.on-channel .channel-name{background:#222;font-size:14px;font-weight:bold;color:#fff}.on-channel ul.on-channel-list li{border-bottom:1px solid #000;border-top:1px solid #918f8f;color:#fff;font-size:11px}.on-channel ul.on-channel-list li span.list-time{background:#1b1e1f}.on-channel ul.on-channel-list li span.list-title{color:#fff}.on-request{padding-top:10px}
    .on-request ul.list-on-request{background:#23282b}
    .on-request ul.list-on-request li{border-bottom:1px solid #000;border-top:1px solid #ddd; margin-bottom: 2px;}.on-request ul.list-on-request li p.request-detail{font-size:11px;color:#fff}.footer-box{background:0}
    .copyright{color:#fff;text-align:center;padding-top:20px;padding-bottom:20px;}.back-to-top{position:fixed;bottom:3em;right:0;text-decoration:none;color:#000;background-color:rgba(235,235,235,0.9);font-size:12px;padding:1em;display:none}.back-to-top:hover{background-color:rgba(0,0,0,0.5);color:#fff}
    @media(min-width:1024px) and (max-width:1200px){.header-box{margin-top:110px}}
    @media(max-width:800px){.header-box{margin-top:-20px}}@media(max-width:480px){.thumbnail{max-width:100px}.playlist-box{left:3px}}.nav-collapse-secunder.collapse-secunder{height:auto;overflow:visible}
    /*.navbar .top-brand{display:block;float:left;padding:10px;margin-left:-20px;font-size:20px;font-weight:200}*/
    .nav-top-right{padding-top:10px}
    .top-brand-logo-diradio{margin-top:5px; float: left;}
    .content{padding-top:20px}
 
 
.icon-play-sign{
    display: none;
}

ul.staytunelog li.nama{
    margin-top: -30px;    
}

#suararadio_player_container {
	height: 130px;
	width: 180px;
	position:fixed;
	top:30px;
	right:5px;
	background-color: white;
}

#suararadio_player_container_hide {
	height: 10px;
	width: 10px;
	position:fixed;
	top:30px;
	right:5px;
	background-color: white;
}

#suararadio_action {
	color: #643B01;
	font-size: 80%;
	text-align: left;	
}
div.flash-msg
{
	padding:.8em;
	//margin-bottom:1em;
	border:2px solid #ddd;
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
	
	height:30px;
	position:fixed;
	left:5px;
	top:10px;
	width:300px;
	overflow: hidden;
    z-index:9999;
}
div.progress
{
	padding:.8em;
	border:2px solid #ddd;
	background:#DDF7C3;
	color:#514721;
	border-color: #86D311;	
	height:20px;
	position:fixed;
	right:10px;
	top:10px;
	width:20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  	border-radius:6px;
    z-index:10000;
}
div.flash-player
{
    background: none repeat scroll 0 0 #333333;
    padding: 0 10px;
    margin-top: 0px;
 
}
/*div.flash-player .timeline
{
	margin: 1px 8px;
	float: left;
	font:normal 12px "Cabin";
} */
div.flash-player .paused
{
	text-decoration: blink;
}
/*div.flash-player .statbar
{
	background: none repeat scroll 0 0 #0E90D2;
    border-radius: 2px;
    float: left;
    height: 5px;
    
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 90%;
} */

div.flash-player .statbar
{
	 background: none repeat-x scroll 0 0 #333333;
    border-radius: 10px;
    border-top: 1px solid #090706;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 10px;
    margin-top: 10px;
    overflow: hidden;
}


div.flash-player .statbar .position
{
	/*background-color: #77C7EF;*/
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    -moz-background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    -webkit-background-image: linear-gradient(to bottom, #149BDF, #0480BE);
	position: relative;
	left: 0;
	top: 0;
	height: 10px;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index:2;
}
div.flash-player .statbar .loading
{
	/*background-color: #BFEAFF;
	position: absolute;
	left: 0;
	top: 0;
	height: 10px;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;*/

    background-color: #555;
    position: relative;
    left: 0;
    top: 0;
    height: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 0;
    margin-top: -10px;
}
div.flash-player .controls {
	float: left;
	height: 100%;
	padding : 10px;
	width: 100px;
    margin-top: 10px;
}
div.flash-player .buttonplayer {

	background-repeat: no-repeat;
	background-position: 2px 2px;
	float: left;
}
/*div.flash-player .play {
	background-image: url(images/control_play.png);
	display: none;
}
div.flash-player .play:hover {
	background-image: url(images/control_play_blue.png);
}
div.flash-player .pause {
	background-image: url(images/control_pause.png);
}
div.flash-player .pause:hover {
	background-image: url(images/control_pause_blue.png);
}
div.flash-player .stop {
	background-image: url(images/control_stop.png);
}
div.flash-player .stop:hover {
	background-image: url(images/control_stop_blue.png);
}
div.flash-player .next {
	background-image: url(images/control_end.png);
}
div.flash-player .next:hover {
	background-image: url(images/control_end_blue.png);
}
div.flash-player .prev {
	background-image: url(images/control_start.png);
}
div.flash-player .prev:hover {
	background-image: url(images/control_start_blue.png);
}
div.flash-player .list {
	background-image: url(images/control_list.png);
}
div.flash-player .listactive {
	background-image: url(images/control_list_blue.png);
}
div.flash-player .list:hover {
	background-image: url(images/control_list_blue.png);
}
*/
div.flash-player .slider {
	float: left;
	-moz-box-sizing: border-box;
    background: -moz-linear-gradient(center bottom , #252525 0%, #373737 100%) repeat-x scroll 0 0 #272727;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    box-shadow: 0 1px 0 #4E4E4E;
    margin: 10px 0;
    padding: 5px;
    width: 75%;
    height: 40px;
}
/*div.flash-player .vumeter {
	 margin-left: 185px;
    margin-top: 10px;
    width: 66%;
}*/

div.flash-player .vumeter {
	 /*margin-left: 55px;
     width: 30%;*/
     float: right;
     width: 45px;
}

div.flash-player #phone .vumeter  {
	margin-left: 5px;
    margin-top: -5px;
}



div.flash-player .vumeter .left {
	/*background-color: #ddff99;*/
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
	position: relative;
	left: 0;
	top: 0px;
	height: 8px;
}
div.flash-player .vumeter .right {
    margin-left: 0px;
	 background-image: linear-gradient(to bottom, #149BDF, #0480BE);
	position: relative;
	left: 0;
	top: 10px;
	height: 8px;
}

.sr-icon { width: 5px; height: 14px; background-image: url(images/toolbar.png);}
.sr-icon-play { background-position: 3px 1px;}
.sr-icon-pause { background-position: -14px 1px;}
//.sr-icon-next { background-position: -29px 1px;}
//.sr-icon-prev { background-position: -46px 1px;}
.sr-icon-end { background-position: -62px 1px;}
.sr-icon-last { background-position: -62px 1px;}
.sr-icon-next { background-position: -62px 1px;}
.sr-icon-start { background-position: -78px 1px;}
.sr-icon-first { background-position: -78px 1px;}
.sr-icon-prev { background-position: -78px 1px;}
.sr-icon-stop { background-position: -94px 1px;}
a.bg-button { 
	/* background-color: #efefef; padding: 2px 10px 4px 10px; */
}
a.delItem, a.delPlaylist {
	background: url("images/del-list.png") center center no-repeat transparent;
	width: 40px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
}
a.delItem:hover, a.delPlaylist:hover {
	background: url("images/del-list2.png") center center no-repeat transparent;
	background-size: cover;
}
a.addPlaylist, a.addItem {
	background: url("images/add-list.png") center center no-repeat transparent;
	width: 40px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
}
a.addPlaylist:hover, a.addItem:hover {
	background: url("images/add-list2.png") center center no-repeat transparent;
	background-size: cover;
}


/***************** membership *************/
.hide {
	display: none;
}
div#klubradio{
	width: 1020px;
  margin:0 auto;        
  background:#E6E7E8;      
}

div#klubradioIsi{
	width: 980px;
  margin:0 auto;        
  background:#fff;      
}

.utamaIsi{
	display: inline-table;
	width: 100%;
    padding: 10px;
}

.logoKlubRadio {	
  background-image: url("images/KR.png");  
  height: 80px;
  background-repeat: no-repeat;
  margin: 20px 0px;
  width: 235px;	
}
.liTi
{
	color:#494A47;
	text-align:left;
	font:bold 13px "Arial";	
	width:720px;
}

.liTi a
{
  color:#494A47;
	font:bold 13px "Arial";	
  text-decoration:none;
}

.klubradioatas{
	background-image: url("images/KR.png") no-repeat;
	width: 980px;	
	height: 90px;
}
.klubradioIsiLeft {
 	float:left;	
	margin:0px 0px 0 10px;
	//border-right : 1px dashed #A9A9E8;	
	width: 45%;	
	display: inline-table;
	background: none repeat scroll 0 0 #F2F3F3;
}

.klubradioIsiRight {
  	float:left;	
	margin:0 10px 0 0;	
	width: 50%;	
	display: inline-table;
}

ul.memClickable 
{
  float:left;
  margin:0px 10px;
  padding:0;
}

ul.memClickable li
{
  list-style-type:none;
  padding:0;
  margin:0 20px 0 0;
  float:left;
}


ul.memClickable li a {
	text-align:center;
	padding:3px 8px 3px 8px;
	display:block;
	text-decoration:none;
	/*background:#046599;
	color: #fff;*/
	color: #046599;
	cursor: pointer;
	font:bold 12px "Arial";	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

ul.memClickable li a.selected {
	text-align:center;
	padding:3px 8px 3px 8px; 
	display:block;
	text-decoration:none;
	color:#ffffff;
	font:bold 12px "Arial";	
	background-color:#627EA3;
}

ul.memClickable li a:hover {
	text-align:center;
	padding:3px 8px 3px 8px;
	display:block;
	text-decoration:none;
	color:#ffffff;
	font:bold 12px "Arial";	
	background-color:#acd24e; //#05A2F4;
}

.row1 {
	background: #E5E6E7;		
	vertical-align: middle;
	height: 40px;
}

.row2 {
	background: #F5F6F6;	
	vertical-align: middle;
	height: 40px;
}

a.linkMember{
    text-decoration: none;
    color: #666;    
}

a.linkMember:hover{
  border-bottom: 1px dotted #666;  
}

.button-group{
	margin: 0px 30px;
}

input.button-primary[type="button"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #627DA3;
    cursor: pointer;
    font: 1em "OpenSans-semibold";
    padding: 4px;
    margin: 1px;
    border-radius: 5px;
}

input.button-primary:hover[type="button"] {
    background: none repeat scroll 0 0 #627DA3;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "OpenSans-semibold";
    font-size: 1em;
    padding: 4px;
    margin: 1px;
    -moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input.button-endorse[type="button"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium solid;
    color: #627DA3;
    cursor: pointer;
    font: 1em "OpenSans-semibold";
    padding: 4px;
    margin: 10px;
    border-radius: 5px;
}

input.button-endorse:hover[type="button"] {
    background: none repeat scroll 0 0 #627DA3;
    border: medium solid;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "OpenSans-semibold";
    font-size: 1em;
    padding: 4px;
    margin: 10px;
    -moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input.button-secondary[type="button"] {
    background: none repeat scroll 0 0 #647DA2;
    border: medium none;
    color: #fefefe;
    cursor: pointer;
    font: 1em "OpenSans-semibold";
    padding: 4px;
    margin: 1px;
    border-radius: 5px;
}

input.button-secondary:hover[type="button"] {
    background: none repeat scroll 0 0 #acd24e;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "OpenSans-semibold";
    font-size: 1em;
    padding: 4px;
    margin: 1px;
    -moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.button-play {
	background: none repeat scroll 0 0;
	border: medium none;
	cursor: pointer;
}
#doPrev img {
	margin-top: -20px;
}
#doPlay img {
	margin-top: -30px;
}
#doStop img {
	margin-top: -30px;
}
#doNext img {
	margin-top: -20px;
}
.toolbarBottom {
	border: 4px solid #E0E1E2;
	background-color: #ffffff;
	padding: 5px;
/*	width: 470px; */
	text-align: center;	
}
#accountView {
	position: relative;
}
#accountView header {
	background:#ffffff;
	margin: 5px 10px 0;
	display: block;
	width: 437px;
}
#accountView header span {
	display: table-cell;
	width: 245px;
	overflow: hidden;
	padding-left: 8px;
	font-size: 11pt;
	color: #627da3;
	vertical-align: middle;
}
#accountView #accToolbar {
	display: table-cell;
	width: 240px;
}
#accountView .accDetail {
	clear: both;
	background: url("images/bg_info2.png") no-repeat scroll 100% 100% #d2d3d5;
	display: inline-block;
	width: 437px;
	margin: 0 10px 10px;
	height: 120px;
}
#accountView .accFoto {
	float: left;
	margin: 10px 10px;
	overflow: hidden;
	height: 100px;
	width: 100px;
}
#accountView .accInfo {
	float: left;
	font-size: 11pt;
	color: #627da3;
	padding-top: 10px;
}
#accountView .accInfo label{
	clear: left;
	float: left;
	width: 50px;
}
#accountView .accInfo span{
	float: left;
}
#accountView .accInfo p{
	clear: left;
	margin-top: 10px;
	padding-top: 10px;
}
#accountView .accButton {
    bottom: 20px;
    display: block;
    position: absolute;
    right: 0;
}
#accountView .accSince {
	bottom: 20px;
    left: 130px;
    position: absolute;
    font-size: 10pt;
	color: #627da3;
}
#dataView {
	background: none repeat scroll 0 0 #ffffff;
	margin: 5px;
}
.leftBody{
	clear: both;
	padding-top: 4px;
}



/* pindahan style dari suararadio css */
.listData ul li {
  list-style-type:none;
  padding:0;
  margin:0 0px 0 -9px;
  clear: both;
  color: #666666;
  height: 43px;
  display: table-row;
  /* margin-top: 20px; */
}

.listData ul li:nth-child(even) {
	background-color: #E5E6E7;
}
.listData ul li:hover {
	color: #3e5e96;
	background-color: #ffffff;
}
.listData ul li .player
{
	margin-left: 20px;
	vertical-align: middle;
}
.listData ul li .title
{
	width: 320px;
	text-align: left;
	display: table-cell;		
	padding: 5px 10px;
	vertical-align: middle;
}

.listData ul li .info
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 60px;
	color: #73c00e;
	font: 11px "Cabin";
	margin: 10px 0 0 5px;
	border-left: 1px solid;
}

.listData ul li .action
{
	display: table-cell;
	vertical-align: middle;
}

.listData .action a {
	
}

.listData .action a:hover {
	
}

div.listData {
	clear: both;
	
	margin-top: 30px;
	margin-bottom: 10px;
	padding-left: 10px;
	
	scrollbar-base-color: red;
	scrollbar-arrow-color: white;

	scrollbar-shadow-color: blue;
	scrollbar-lightshadow-color: green;
	scrollbar-darkshadow-color: blue;

	scrollbar-highlight-color: yellow;
	scrollbar-3dlight-color: black;
}
.klubPlaylist {
	padding: 5px 8px;
}
.klubListData {
	background: none repeat scroll 0 0 #F2F3F3;
    margin: 5px;
    padding: 5px;
}
.listInfo {
 clear: left;
 text-align: left;
 padding: 10px 0 0 0;
 //font: 12px "Cabin";
}
.listButton {
 clear: both;
 text-align: left;
 padding: 5px 20px;
 font: 12px "Cabin";
}
.showPlaylist {
	cursor: pointer;
}
#toolbar {
	/*width: 300px;*/
	margin-top: -15px;
	margin-left: 25%;
}
#sliderbar {
	margin-left: 85%;
    margin-top: -30px;
}
#sliderbar .timeline
{
	margin: 1px 8px;
	float: left;
	font:normal 10px "Cabin";
}
#sliderbar .statbar
{
	height: 10px;
	width: 140px;
	float: left;
	margin: 0 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  	border-radius: 10px;
  	overflow-x: hidden;
  	overflow-y: hidden;
  	position: relative;
  	border: 1px solid #aeb0b2;
  	
  	background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.16) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.16))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.16) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.16) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.16) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.16) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#29000000',GradientType=0 ); /* IE6-9 */
}
#slidebar .statbar .position
{
	background-color: #77C7EF;
	position: relative;
	left: 0;
	top: 0;
	height: 10px;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
}
#slidebar .statbar .loading
{
	background-color: #BFEAFF;
	position: absolute;
	left: 0;
	top: 0;
	height: 10px;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
}

div.title {
	clear: left;
	font:  16px "Cabin";
	color: #F68B00;
}
div.content {
 clear: left;
 font: normal 12px "Cabin";
}
div.content .time {
	padding: 0 4px;
}
div.content .method {
	padding: 0 4px;
	font: 12px "Cabin";
}
div.content .link {
	padding: 0 4px;
}
div.content .media {
	padding: 0 4px;
}
div.clear {
 clear: both;
}
.row_odd {	
}
.row_even {
}
input.member {
	padding: 0px 5px;
}

section.listTitle {
 text-align: center;
 padding: 2px 0 2px 0;
 font: 12px "Cabin";
 color: #ffffff;
 text-transform: uppercase;
 overflow: hidden;
}

#titleSongs {
 text-align: center;
 padding: 2px 0 2px 0;
 font: 12px "Cabin";
 color: #ffffff;
 text-transform: uppercase;
 overflow: hidden;
}

div#sampulAlbum {
	height: 250px;
	background-image: linear-gradient(bottom, rgb(59,66,62) 6%, rgb(187,199,193) 91%);
	background-image: -o-linear-gradient(bottom, rgb(59,66,62) 6%, rgb(187,199,193) 91%);
	background-image: -moz-linear-gradient(bottom, rgb(59,66,62) 6%, rgb(187,199,193) 91%);
	background-image: -webkit-linear-gradient(bottom, rgb(59,66,62) 6%, rgb(187,199,193) 91%);
	background-image: -ms-linear-gradient(bottom, rgb(59,66,62) 6%, rgb(187,199,193) 91%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(59,66,62)),
		color-stop(0.91, rgb(187,199,193))
	);
}

.playlistTitle {
	padding: 0 8px;
	color: #627da3;
	font-size: 16pt;
}
#imageAlbum {
	padding: 2px 0 0 25%;
	width: 184px;
	height: 184px;
	overflow: hidden;
}

/* start bagian song view detail */
section#songView {
	clear: both;
	display: inline-block;
}
#songView .songAlbumArt {
	float: left;
	overflow: hidden;
	width: 200px;
	height: 200px;
}
#songView .songDetail {
	float: left;
	margin: 10px;
}
#songView .songDetail label{
	clear: left;
	float: left;
	width: 150px;
}
#songView .songDetail span{
	float: left;
	width: 400px;
}
section#albumView {
	margin: 0 15px;
}
section#albumView li{
	float: left;
	display: table;
	padding: 5px;
	width: 100px;
}
section#albumView li img{
	display: table-row;
}
section#albumView li label{
	/* display: table-row; */
	overflow: hidden;
	height: 32px;
}
section#albumView li span{
	/* display: table-row; */
	color: #7A7A7A;
    font-size: 12px;
    line-height: 24px;
}
section#listLaguView {
	clear: both;
	margin: 0 15px;
}
/* end bagian song view detail */

/* start bagian account view detail */
#accountFoto {
	float: left;
	height: 260px;
    overflow: hidden;
    box-shadow: 3px 3px 2px #202020;
    margin-top: 10px;
}
#accountFoto img {
	width: 250px;
}
#accountDetail {
	padding-top: 10px;
}
#accountDetail .row {
	margin: 0px 20px;
}
label {
	display: block;
}
#accountDetail .row label {
	font-size: 1.1em;
	line-height: 1.4em;
	letter-spacing: 1px;
	float: left;
	width: 200px;
}
.logoAccount {
  height: 80px;
  width: 256px;
  margin: 20px;
  float: left;
}
.lgBuddy {
	background: url("images/KR.png") no-repeat center;
}
.lgListener {
	background: url("images/KR1.png") no-repeat center;
}
.lgFans {
	background: url("images/KR2.png") no-repeat center;
}
.lgLover {
	background: url("images/KR3.png") no-repeat center;
}
.lgMania {
	background: url("images/KR4.png") no-repeat center;
}
.lgLegend {
	background: url("images/KR5.png") no-repeat center;
}
.krMemberType {
	font-weight: bold;
    font-size: 35px;
    margin: 15px;
    float: left;
}
.krmtBuddy {
	color: #627DA3;
}
.krmtListener {
	color: #D2D3D5;
}
.krmtFans {
	color: #A6D050;
}
.krmtLover {
	color: #FDCC3A;
}
.krmtMania {
	color: #EB2836;
}
.krmtLegend {
	color: #373435;
}
.krStar {
	/* float: right; */
	margin: 10px 0px 10px 20px;
	width: 60px;
}
.krAccount {
}
.krbgBuddy {
	background: url("images/bgrad20_li.png") no-repeat scroll 98% 90% #ffffff;
	margin: 0 20px;
}
.krbgListener {
	background: url("images/bgrad20_li.png") no-repeat scroll 98% 90% #D2D3D5;
	margin: 0 20px;
}
.krbgFans {
	background: url("images/bgrad20_fa.png") no-repeat scroll 98% 90% #A6D050;
	margin: 0 20px;
}
.krbgLover {
	background: url("images/bgrad20_lo.png") no-repeat scroll 98% 90% #FDCC3A;
	margin: 0 20px;
}
.krbgMania {
	background: url("images/bgrad20_ma.png") no-repeat scroll 98% 90% #EB2836;
	margin: 0 20px;
}
.krbgLegend {
	background: url("images/bgrad20_le.png") no-repeat scroll 98% 90% #373435;
	margin: 0 20px;
}
.txtBuddy {
}
.txtListener {
	color: #606062;
}
.txtFans {
	color: #FEFEFE;
}
.txtLover {
	color: #FEFEFE;
}
.txtMania {
	color: #FEFEFE;
}
.txtLegend {
	color: #FEFEFE;
}


/* end bagian account view detail */
/* start bagian member account payment */
#dialogPay{
	width:100%;
	text-align: center;
	vertical-align: baseline;
	display: table;
}
ul.imgList {
  margin:auto;
  display: table-row;
  text-align: center;
}
ul.imgList li
{
  list-style-type:none;
  width: 33%;
  display: table-cell;  
}
ul.imgList li img
{	
}
ul.imgList li input
{
}
/* end bagian member account payment */

/****** overide ******/
#featured {
	background: none repeat scroll 0 center transparent !important;
	border: 0 none !important;
    position: relative;
    width: 388px;
    padding: 0;
}
#featured .ui-tabs-panel {
    height: 288px;
    width: 384px;
    background: none repeat scroll 0 center transparent !important;
    border: 0 none !important;
}
#featured ul.ui-tabs-nav {
    left: 395px;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    line-height: 1 !important;
    top: 0;
    border: 0;
}
a.overlay {
    color: #FFFFFF !important;
    text-decoration: none;
}
#featured ul.ui-tabs-nav li p.tunes-desc a{ 	
    font-weight: normal !important;
}
/****** end overide ******/

.playernew{
    position: absolute;
    margin: -120px 0 0 70px;
}

/*.list-of-tunes li header aside{
    float:left;
    margin-right :15px;
    margin-left: -80px;
  
    margin-top: 20px;
}*/

.mostplayed-bar section.overlay p.counting{
        opacity:0.7;
        filter:alpha(opacity=40);
}

a.to-index-top-tunes{
    display: none;
}

.section-nav-mostplayed{
    margin-top: 25px;
}

.bottomMsg {
	font-family:Calibri;
   z-index: 100;
   width:380px;
   padding: 10px;
   bottom:5px;
   right:160px;
   position: fixed; 
   /*border: 4px solid #F1000C;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;*/
   background: none repeat scroll 0 0 #F0FFF0;
   font-size: 16px;
	color: #fff;
	background-image: url('images/Registrasi-2.png');
background-size: 400px 146px;;
background-repeat: no-repeat;
	height: 128px;
	border-radius: 12px;
}

.bottomMsg header{
	text-align: center;
	padding: 0px 0px 0px 100px;
}

.bottomMsg div{
	padding: 0px 10px 0px 100px;
	text-align: justify;
}

ul.memClickable2 
{
  margin:-25px 100px;
  padding:0;
}

ul.memClickable2 li
{
  list-style-type:none;
  padding:0;
  margin:0 20px 0 0;
  float:left;
}

ul.memClickable2 li a {
	text-align:center;
	padding:3px 8px 3px 8px;
	display:block;
	text-decoration:none;
	background:#046599;
	color: #fff;
	cursor: pointer;
	font:bold 12px "Arial";	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

ul.memClickable2 li a.selected {
	text-align:center;
	padding:3px 8px 3px 8px; 
	display:block;
	text-decoration:none;
	color:#ffffff;
	font:bold 12px "Arial";	
	background-color:#627EA3;
}

ul.memClickable2 li a:hover {
	text-align:center;
	padding:3px 8px 3px 8px;
	display:block;
	text-decoration:none;
	color:#ffffff;
	font:bold 12px "Arial";	
	background-color:#acd24e; //#05A2F4;
}

a.f-login{
	background: url("images/f-login.png") center center no-repeat transparent;
    text-decoration: none;
    display: inline-block;
    width:50px;
    height:36px;	
    
}


/* Klub radio new*/

.box-profil {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	background:#fafafa;
	padding:10px;
}

.form-box {
    background: none repeat scroll 0 0 #F3F3F3;
    padding-top: 5px;
}

/*.input-large,.input-xlarge,.input-xxlarge,input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*/  
form {
    margin: 0 0 10px;
}


/* css player baru */

.player-fixed-bottom-new{
    bottom: 0;
    margin-bottom: -2px;
    min-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    font-family: Calibri;
    
}

.bottom-player-box{
    bottom: 0;
    margin-bottom: 0;
    min-height: 20px;
    padding-top: 3px;
}

.audio-controll-box {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 3px;
    overflow: hidden;
    padding: 0;
}

.audio-controll-box .plays-button{
    margin-left: 4px;
    padding-top: 15px;
    float: left;
    width: 200px;
    position: relative;
}

.audio-controll-box .music-bars{
    margin-left: 195px;
    margin-right: 255px;
   
}

.audio-controll-box .music-bars-phone{
   margin-left: 30%;
    margin-right: 36%;
    height: 40px;
}

.music-bars {
    -moz-box-sizing: border-box;
    background: -moz-linear-gradient(center bottom , #252525 0%, #373737 100%) repeat-x scroll 0 0 #272727;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    box-shadow: 0 1px 0 #4E4E4E;
    margin: 5px 0;
    padding: 5px;
}

.music-bars-phone {
    -moz-box-sizing: border-box;
    background: -moz-linear-gradient(center bottom , #252525 0%, #373737 100%) repeat-x scroll 0 0 #272727;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    box-shadow: 0 1px 0 #4E4E4E;
    margin: 5px 0;
    padding: 5px;
}

.cover {
    border: 2px solid #FFFFFF;
    height: 40px;
    margin-right: 10px;
    width: 40px;
    float: left;
}

.volume-prev-next {
    margin: 15px 10px 10px;
    position: relative;
}

.time-track{
    float: right;
    margin-left: 5px;
}

.time-track-phone{
    text-align: center;
}

.progres {
    background: none repeat-x scroll 0 0 #333333;
    border-radius: 10px;
    border-top: 1px solid #090706;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.music-bars p {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 3px;
    overflow: hidden;
    padding: 0;
    margin-top: 0px;
}

 .span13 {
	width: 1100px;
}
@media(min-width:768px) and (max-width:979px){
  .span13{width:520px}
}  
@media(max-width:480px){ 
.mb-repeat,.mb-random,.cover,.hidden-phones,p.white  {display:none;}
.span13{width:315px;}
}
@media(max-width:380px){ 
.mb-repeat,.mb-random,.cover,.hidden-phones,p.white  {display:none;}
.span13{width:220px;}
}
@media(max-width:360px){ 
.mb-repeat,.mb-random,.cover,.hidden-phones,p.white,.music-bars  {display:none;}
.span13{width:220px;}
}
 
 .span13{
    width: 100%;  
   
 }
 
.info-player{
    float: right;
    margin-right: 20px;
    margin-top: -67px;
}

#box-lyric {
	background:#333;
	opacity:0.9;
	width:300px;
	height:270px;
	position:absolute;
	right:0;
	bottom:72px;
	padding:10px;
	border:2px solid #282828;
	z-index:99999;
	overflow:scroll;
	
 }
 #box-lyric p {
	color:#fff;
 }
 
 
 span.tooltip {
      position: absolute;
      width: 60px;
      height: 15px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(250, 250, 250);
      background: rgb(37, 37, 37);
      border: 4px solid rgb(32, 32, 32);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #151515 transparent transparent transparent;
      top: 38px;
      left: 33px;
} 

.box-announ .icon-volume-up{
    display: none;
}

#info_lirik{
    font-weight: bold;
}

#myCarousel .carousel-inner .item_img .img-responsive{
    height: 435px;
}

.btn{
    margin-bottom: 5px;
                
}

.btn_player{
    padding:  4px 12px;
}

.btn-add{
    margin-top: 0px;
}

.channel-user{
    margin-top: 10px;
}

.minicover-box-kr{
    background: url("images/play1mini.png") no-repeat scroll center / 35px 35px #000000;
    border: 0px solid #DDDDDD;
    height: 45px;
    position: absolute;
    width: 40px;
}

/* css playlist */
.add-play-list{border-top:0px solid #ddd;margin:0}
ul.add-play-songs{margin:0;list-style:none;height:75px;display:block;overflow-y:hidden;overflow-x:scroll;white-space:nowrap;background:#000}
ul.add-play-songs li{padding-left:5px; position:relative;background:#5e6369;border:1px solid #333;height:47px;width:120px;margin:5px;overflow:hidden;display:inline-block}
ul.add-play-songs li a img{display:block; position:absolute;margin-top:2px}
ul.add-play-songs li p{width:70px; margin-left:45px;font-size:10px; white-space:normal; line-height: 13px; font-weight:normal;z-index:68970}
ul.add-play-songs li.active{background:#222; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;}
ul.add-play-songs li:hover{background:#080808}.mini-albums{height:45px;width:45px;overflow:hidden;padding:5px;background:#fff;border:1px solid #ddd}
.mini-albums:hover{opacity:2}
.mini-albums-list{height:33px;width:33px;overflow:hidden;padding:3px;background:#ebe8e8;border:1px solid #ddd;opacity:1}
.mini-albums-list:hover{opacity:0.2;}
.text-album-list-player{height:25px;overflow:hidden;min-width:70px;color:#fff}
.pre-bottom-box{margin-bottom:60px}::-webkit-scrollbar{width:12px}::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:10px}::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.7);background:#fff}.marker{z-index:50000}
.right{margin-left:5px}.form-box{background:#f3f3f3;padding-top:5px}
.playertitle{margin:0;padding:7px}
.header-nav{z-index:20}
    

/* css community*/

li.request {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    color: #000000;
    display: block;
    margin: 10px 0 0 -25px;
    min-height: 60px;
    padding: 15px 10px;
    text-overflow: ellipsis;
}  

.request-list-big p.foto {
    margin: 5px 0 0 10px;
    position: absolute;
}


.overlay-img {
    margin: 30px 0 0 -20px;
}

.request-list-big li.isimessage-person {
    font-size: 80%;
    height: 20px;
    margin: 0 0 0 45px;
    font-weight: bold;
}

.request-list-big li.isimessage2-person {
    font-size: 80%;
    height: 20px;
    margin: 0 0 0 45px;
    font-weight: bold;
}

.request-list-big li.isimessage-request {
     font-size: 80%;
    height: 45px;
    margin: 0 0 0 45px;
}

.request-list-big li.isimessage2-request {
     font-size: 80%;
    height: 45px;
    margin: 0 0 0 45px;
}


.request-list li.isimessage-person {
    font-size: 80%;
    height: 20px;
   margin: -60px 0 0px 40px;
    font-weight: bold;
}

.request-list li.isimessage2-person {
    font-size: 80%;
    height: 20px;
    margin: -60px 0 0px 40px;
    font-weight: bold;
}

.request-list li.isimessage-request {
     font-size: 80%;
    height: 45px;
    margin: 0 0 0 40px;
}

.request-list li.isimessage2-request {
    font-size: 80%;
    height: 45px;
    margin: 0 0 0 40px;
}


/* bootstrap */

.btn-inverse {
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/* pagging */

#wp_page_numbers{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;	
    background: none;
    border-top: 0px solid #000;
}
#wp_page_numbers li.active_page a {
   background-color: #EAEAEA;
}

#wp_page_numbers ul, #wp_page_numbers li, #wp_page_numbers a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    word-spacing: 0;
}
#wp_page_numbers {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
#wp_page_numbers ul {
    width: 100%;
}
#wp_page_numbers li {
    display: block;
    float: left;
    margin-bottom: 2px;
}
#wp_page_numbers a {
    border: 1px solid #BFBFBF;
    color: #333333;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 8px;
}
#wp_page_numbers li a:hover {
    border-color: #BA0000;
}
#wp_page_numbers li.space {
    padding: 6px 2px;
}
#wp_page_numbers li.first_last_page {
    font-style: italic;
}

#wp_page_numbers li.active_page a {
    background: none repeat scroll 0 0 #eaeaea;
    color: #000;
    padding: 8px;
}

#wp_page_numbers li.active_page a:hover {
    border-color: #BA0000;
    color: #000000;
    text-decoration: underline;
    padding: 8px;
}
#wp_page_numbers li.page_info {
    border: 1px solid #BFBFBF;
    color: #666666;
    display: block;
    float: left;
    font-size: 11px;
    margin-right: 2px;
    padding: 8px;
}



/* versi baru */


  
.avatar img {
	width:100px;
	height:100px;
	float:left;
	margin-right:20px;
}
.avtr img {
	width:45px;
	height:45px;
	float:left;
	margin-right:20px;
}
.box-announ {
	padding:10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	background:#fff;
}
.clear 
{
	clear:both;
}
p.announcer,p.time,p.program-radio{
	border-bottom:1px solid #cbcbcb;
	padding:5px 5px 5px 0;
}
p.announcer,p.time,p.program-radio{
	
margin-left:115px;

}
span.desc {
		border-bottom:1px solid #cbcbcb;
}
p.txt-request  {
	font-size:12px;
	margin:0 0 0 65px;
	
	
}
.box-request:nth-child(odd) {
	background:#ececec;
	padding:10px;
}
.box-request:nth-child(even) {
	background:#fafafa;
	padding:10px;
}

.box-request p {
		font-size:10px;
		padding:0;line-height:1.5em;
}
.box-request h5 {
	padding:0;margin:0;
}

i.announ{
	padding:0 5px 0 0;
	margin-bottom:5px;
}
.live-content {
	/*background:#ececec;*/
	padding:10px 0 10px 0;
	margin:-20px 0 0px 0;
	
}

* {
margin: 0;
padding: 0;
}

body, html {
font-family: Calibri, "times new roman", sans-serif;

}

#button {
margin: 5% auto;
width: 100px;
text-align: center;
}

#button a {
background-image: linear-gradient(to bottom,#2a95c5,#21759b);
background-image: -o-linear-gradient(to bottom,#2a95c5,#21759b);
background-image: -ms-linear-gradient(to bottom,#2a95c5,#21759b);
background-image: -moz-linear-gradient(to bottom,#2a95c5,#21759b);
background-image: -webkit-linear-gradient(to bottom,#2a95c5,#21759b);
background-color: #2e9fd2;
width: 86px;
height: 30px;
vertical-align: middle;
padding: 10px;
color: #fff;
text-decoration: none;
border: 1px solid transparent;
border-radius: 5px;
}

#popup {
width: 100%;
height: 100%;
position: absolute;
z-index: 8888;
visibility: hidden;
margin-top:-20px;
}

.window {
position: relative;
padding: 10px 10px 40px 10px;
-moz-box-shadow: 0px 3px 1px #898989;
-webkit-box-shadow: 0px 3px 1px #898989;
box-shadow: 0px 3px 1px #898989;
background:#f2f2f2;

}

.close-button {
width: 70px;
height: 20px;
background: #0060ff;
border-radius: 5px;
border: 3px solid #fff;
display: block;
text-align: center;
color: #fff;
text-decoration: none;
float:right;
}

#popup:target {
visibility: visible;
}

.list-lyric {
	float:right;
}
a.lyric {
	background:#ff9c00;
	color:#fff;
	padding:3px 8px 3px 8px;
	
}
p.mt1 {
	margin-top:10px;
}
.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #cbcbcb; border-radius: 10px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
     color: #FFFFFF;
	 background: rgb(244,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(244,0,0,1) 0%, rgba(186,6,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,0,0,1)), color-stop(100%,rgba(186,6,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(244,0,0,1) 0%,rgba(186,6,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(244,0,0,1) 0%,rgba(186,6,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(244,0,0,1) 0%,rgba(186,6,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(244,0,0,1) 0%,rgba(186,6,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f40000', endColorstr='#ba0600',GradientType=0 ); /* IE6-9 */
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    color: #757575;
    text-align: right;
	background: rgb(254,255,232); /* Old browsers */
background: -moz-linear-gradient(top, rgba(254,255,232,1) 0%, rgba(214,219,191,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,232,1)), color-stop(100%,rgba(214,219,191,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 1px solid #cbcbcb; border-radius: 10px;
    position: absolute; top: 0; bottom: 0; right: 41px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.list-request,.list-channel {
	background-color: #FFFFFF;
    height: 220px;
    overflow: scroll;
	padding-right:20px;
}
.box-profil {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	background:#fafafa;
	padding:10px;
}
.head-wrap {
	margin-right:auto;
	margin-left:auto;
	float:none;
}

.stream{
    height: 30px;
    content: "ON";
    padding-left: 10px;
     color: #FFFFFF;
	 background: rgb(244,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(244,0,0,1) 0%, rgba(186,6,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,0,0,1)), color-stop(100%,rgba(186,6,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(244,0,0,1) 0%,rgba(186,6,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(244,0,0,1) 0%,rgba(186,6,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(244,0,0,1) 0%,rgba(186,6,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(244,0,0,1) 0%,rgba(186,6,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f40000', endColorstr='#ba0600',GradientType=0 ); /* IE6-9 */

}

.butt_stream {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 1px solid #cbcbcb; border-radius: 10px;
    position: absolute; top: 0; bottom: 0; right: 0px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.on{
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
    position: absolute;
}



/**********4 Maret 2014***************/

a.nav-kb {display:inline;}
.ml {margin-left:5px;}
.mb {margin-top:20px;margin-left:40px;}
.mt {margin-top:5px;}
.mt2 {margin-top:10px;}


.nav-kr>li>a ,.nav-chart>li>a{font-family: 'OpenSans-semibold', sans-serif;padding-top:8px;padding-bottom:8px;padding-right:8px;line-height:20px;color:#0060ff;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.nav-kr>li>a:hover,.nav-tabs>li>a:focus{border:0;background:#ff5404;color:#fff}
.nav-kr,
.nav-pills {
  *zoom: 1;
}

.nav-chart {
	margin-left:30px;
	
}
.nav-chart > li > a {
  padding:13px 12px 13px 12px;
  margin-right: 2px;
  line-height: 14px;
  background:#f5f5f5;
}
.nav-chart > .active > a,
.nav-chart > .active > a:hover,
.nav-chart > .active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #006DCC;
  
}

.nav-kr:before,
.nav-chart:before,
.nav-pills:before,
.nav-chart:after,
.nav-kr:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}
.nav-chart:after,
.nav-kr:after,
.nav-pills:after {
  clear: both;
}
.nav-chart > li,
.nav-kr > li,
.nav-pills > li {
  float: left;
}



.nav-kr > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  text-transform: uppercase;
}

.nav-kr {
  border-bottom: 1px solid #ddd;
}

.nav-kr > li {
  margin-bottom: -1px;
}

.nav-kr > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-kr > li > a:hover,
.nav-kr > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-kr > .active > a,
.nav-kr > .active > a:hover,
.nav-kr > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.form-horizontal {
	margin-right:10px;
}
.form-horizontal .control-group {
	margin-bottom:0;
}
.form-box{
	padding:5px;
	background:#fafafa;
}
.form-horizontal .controls {
	margin-left:70px;
}
.form-horizontal .control-label {
	width:65px;
}

.cover-artist{
	float:left;
    height: 140px;
    width: 170px;
    margin-right: 10px;
}
.info-artist {
     background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CBCBCB;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3);
    padding: 5px 0 5px 5px;
    height: 180px;    
}
.icon-dropdown{
	margin: 5px;	
    font-family: calibri;
}
ul.list-content-choose-box{list-style:none;margin:0;padding:0;background:#f2f2f2}ul.list-content-choose-box li{margin-bottom:5px;border-bottom:1px solid #ddd}ul.list-content-choose-box li:hover{background:#fff}ul.list-content-choose-box li.active{background:#fff}

.box-content-list{
	margin-top:10px;
}

.box-content-list p,{
    font-size:12px;
}

.box-content-list h4,.box-content-list a {
	margin:0;
    color: #555;
}



.play-hv p{
	/*background:url("../img/play.png") no-repeat center;*/
	height: 45px;
    margin: 60px 0 0 45px;
    width: 45px;
}
.play-hv p:hover{

	/*background:url("../img/play.png") no-repeat center;*/
	height: 45px;
    margin: 60px 0 0 45px;
    width: 45px;
}
.view{
   width: 138px;
   position: relative;
   cursor: default;
   
 
}
.view:before, .view:after
{
	position: absolute;
	
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}
.view:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
	background:#000;
}
.view .mask,.view .content {
   height: 140px;
    left: 0;
    overflow: hidden;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 138px;
   
}
.view img {
   
   position: relative;
}

.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background:none repeat scroll 0 0 rgba(255,255,255,0.5);
   width:100%;
   color: #fff;
   text-transform: uppercase;
  
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
background-color: rgba(0, 0, 0, 0.4);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.view-first:hover img {
   
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.list-plasylist-kr a {
	display:inline;
}

.list-kr{
	background:#dedede;
	border-bottom:solid 1px #eaeaea;
	margin:0;
}



.list-kr .table{
    margin-bottom: 0px;
}

h4.playlist-title {
	margin-left:30px;
    float:left;
}

.title_info{
  font-size: 16px;
  height: 250px;
  line-height: 17px; 
  font-weight: bold; 
}

.btn-kr {
    margin-right:10px;
    margin-top:10px;
    text-align: right;
}
.box-kr {
	margin:1px 0;
	padding:0;
}
ul.playlist-ml {
	margin:0 0 0 0px;
	padding:0 0 0 0;
	border:none;
	list-style: none outside none;
}
li.playlist-ml {
	padding:10px 0 10px 0;
}
ul.playlist-ml p {
	padding:10px 0 0 30px;
	margin:0;
	font-size:14px;
}
li.head-playlist  {
	background:#ffc600;
	padding:10px 0 10px 0;
}
li.even  {
	background:#e1e1e1;
	padding:5px 0 5px 0;
}
li.odd  {
	background:#fafafa;
	padding:5px 0 5px 0;
}
li.head-playlist p  {
	font-size:14px;
}
#chart-dl,#chart-wk,#chart-mt{
	margin-bottom:40px;
}

  
 /* add  */
 
 .title_content{
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 14px;
    overflow: hidden;
    width: 130px;
 
 }
 
 .title_content_front{
   font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 15px;
    margin-left: 30px;
    margin-top: 135px;
    overflow: hidden;
    position: absolute;
    width: 100px;
    z-index: 100;
    font-family: 'Maven Pro', sans-serif;
 }
 
  .nm_radio{
     font-size: 12px;
    height: 20px;
    margin: 0;
    overflow: hidden;
    color:#888;
 }
 
 .nm_radio_front{
    font-size: 12px;
    height: 20px;
    margin: 0;
    overflow: hidden; 
    color: #888;
    margin-top: 165px;
 }
 
.konten-mb {
    background: none repeat scroll 0 0 #DBDBDB;
    padding: 0 0 0px 5px;
    clear: both;
}

p.rank-list {
    color: #FF9000;
    font-size: 16px;
    margin: 3px 5px 0 0;
    padding: 10px 10px 10px 5px;
    border-right: 1px solid #CBCBCB;
    float: left;
    height: 25px;
}

.more{
    margin-top:15px;
    margin-left: 40px;
    font-size: 18px;
}

.tab-content{
    overflow: hidden;
}

li.user-menu-avatar img{
    float: left;
    margin-right: 5px;
}

li.user-menu-avatar p{
    margin-top: 5px;
}

li.user-exp > p {
    background: none repeat scroll 0 0 #999;
    border: 1px solid #CBCBCB;
    color: #FFFFFF;
    margin: 0 0 5px 10px;
    padding: 5px 10px;
}


.nav-user > li {
    margin-bottom: -1px;
}
.nav-user > li {
    float: left;
}


.nav-user > li > a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    line-height: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.nav-user > li > a {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}


.nav-user:before, .nav-user:after {
    content: "";
    display: table;
    line-height: 0;
}

.nav-user {
   background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    display: table;
    margin-top: 5px;
    padding: 5px 10px 0;
    width: 97%;
}

#loading{
    margin-left: 30px;
}

.mosaic-block3{
    background: url("../img/default.jpg") no-repeat scroll center top #000000;
    background-size: 310px 225px;
    border: 1px solid #FFFFFF;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

img.pil-img2{
    height: 200px;
    width: 100%;
}

.list_terbaru {
    border: 1px dashed #CCCCCC;
    height: 72px;
    padding: 0;
}


.left {
    float: left;
}

.img_terbaru {
    height: 79px;
    overflow: hidden;
    position: relative;
    width: 63px;
    z-index: 0;
}

.img_terbaru img {
    border: medium none;
    height: 70px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.terbaru_category {
    background: none repeat scroll 0 0 #FF0000;
    color: #FFFFFF;
    height: 18px;
    padding: 0 10px;
    position: absolute;
    width: auto;
    z-index: 1;
    font-size: 10px;
}

.detail_terbaru {
    padding-left: 10px;
    width: 50%;
    
}

.detail_terbaru h6 {
    color: #FFC000;
    font: 10px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}


.detail_terbaru a {
    color: #3D3D3D;
    display: block;
    font: 12px/18px Calibri;
    max-height: 48px;
    overflow: hidden;
    text-decoration: none;
    line-height: 15px;
    text-align: left;
    margin-top: 20px;
    
}

.detail_terbaru a:hover {
    color: #FF0000;
    
}

.play-hv .adv_butt{
    height: 45px;margin: 40px 0 0; 100%; width: 100%; color: white;
}

.play-hv .adv_butt:hover{
    height: 45px;margin: 40px 0 0; 100%; width: 100%; color: white;
}

.play-hv .adv_judul{
    height: 45px;margin: 10px 0 0; 100%; width: 100%; color: white;
}

.play-hv .adv_judul:hover{
    height: 45px;margin: 10px 0 0; 100%; width: 100%; color: white;
}

.adv{
    background: none repeat scroll 0 0 #FF0000;
    color: #FFFFFF;
    left: 0;
    padding: 3px;
    position: absolute;
    font-size: 12px;
}

.carousel-inner > .item .modis {
  position: relative;
  display: none;
  text-align: center;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
  
}

.carousel-inner > .item .modis > img,
.carousel-inner > .item .modis > a > img {
  /*display: block;*/
  line-height: 1;
}

.dropdown-menu{
    min-width: 100%;
}

.btn-streaming{
    /*float: left;
    margin-right: 20px;*/
}


.related-post, .related-post a {
    color: #000;
    margin: 0;
}


ul.related-post-list {
    margin-left: 10px;
    padding: 0;
}

.related-post-list li {
    list-style: none outside none;
    margin: 10px;
}

#paymentFrame {
	display:block;
  height: 100%;
  width: 100%;
}

